.uppercase {
    text-transform: uppercase;
}
#context-menu {
    position: absolute;
    display:none;
}

#context-menu ul {
    margin: 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    box-shadow: 3px 8px 12px rgba(0, 0, 0, 0.25);
    background-color: white;
}

#context-menu li {
    list-style-type: none;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0;
}

#context-menu li.divider {
    list-style-type: none;
    margin: 1px 0 1px 0;
    padding: 0;
    height: 1px;
    background-color: $light-gray;
}

#context-menu li:hover {
    background-color: $light-gray;
    cursor: pointer;
}

body.template-visualize{
    height: 100%;

    $map-padding-top: 33px;
    $map-padding-bottom: 44px;
    $map-padding-right: 30px;

    #primary-content {
      height: calc(100vh - #{$navbar-height});
      position: relative;
    }
    #fullscreen, #map-wrapper, #map {
      height: 100%;
    }
    .navbar{
        margin-bottom: 0px;
    }
    .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
    }
    #fullscreen {
      width: 100%;
    }
    #map {
        overflow: hidden;
    }

    #map-controls, #right-btns, #baselayers {
      position: absolute;
      z-index: 1020;
      padding: 2px;
      font-size: 12px;
    }

    #baselayers {
        bottom: $map-padding-bottom;
        right: 80px;
    }

    #map-controls {
        top: $map-padding-top;
        right: $map-padding-right;
    }

    #right-btns {
        top: 60px;
        left: 4px;
    }

    .panel.collapsible {
        @include transition(any 0.5s "ease-out");

        .panel-heading {
            @include transition(any 0.5s, "ease-out");
        }
        .panel-title {
            position: relative;
            padding-right: 35px;
            .collapse-button {
                position: absolute;
                right: 0;
                top: 0;
                @include transition(transform 0.5s "ease-out");
            }
        }
        &.collapsed {
          height: initial !important;
          width: initial !important;
          .show-collapsed {
            display: block !important;
          }
          .hide-collapsed {
            display: none;
          }
          .collapse-button {
              @include transform-origin(50% 50%);
              @include rotate(180deg);
          }
          .panel-heading {
            padding-bottom: 0 !important;
            height: initial !important;
          }
          .panel-body {
            height: 0 !important;
          }

        }
        .show-collapsed {
            padding-left: 11px;
            h4{
                margin: 0px;
                padding-bottom: 6px;
            }
            div {
                font-size: 12px;
                margin-top: -7px;
                padding-bottom: 3px;
            }
        }
    }

    #left-panel{
        $header-height: 105px;
        position: absolute;
        top: $map-padding-top;
        background-color: $light-gray;
        z-index:1000;
        width: 420px;
        padding: 0px;
        height: calc(100% - #{$map-padding-top} - #{$map-padding-bottom});
        .panel-heading {
            padding: 10px 4px;
            height: $header-height;
            border: 0px;
            background-color: $gray-lighter;
        }
        .panel-body {
            height: calc(100% - #{$header-height});
            padding: 0px;
        }
        #data-panel, .sidebar-nav {
          height: 100%;
        }
        #myTabContent {
            $tab-height: 47px;
            height: calc(100% - #{$tab-height});

        }
    }

    #atlwdg-trigger{
       display:none;
    }

    .btn{
        border-radius: 0px;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .col-md-1, .col-md-3, .col-md-4, .col-md-5, .col-md-8, .col-md-10, .col-md-12  {
        padding-left:0px;
        padding-right:0px;
    }

    #aggregated-attribute-overlay-test {
        max-height: 250px;
    }
    #aggregated-attribute-overlay{
        position:absolute;
        right: 10px;
        bottom: 120px;
        z-index: 1000;
        background-color: white;
        overflow: hidden;
        opacity: 0.9;
        .accordion-heading{
            background-color: $light-gray;
        }
        @media (max-height: 450px) {
           display: none;
        }
    }

    dl{
        margin-bottom: 0px;
    }
    #aggregated-attribute-heading{
        padding: 0px 14px;
        h4{
            color: #00a564;
            font-size: 16px;
        }
    }

    #aggregated-attribute-content{
        overflow-y: auto;
        max-height: 400px;

        .accordion-inner{
            padding-top: 5px;
            margin-left: 40px;
        }
        dt {
            padding-bottom: 5px;
        }
        .accordion-body{
            max-height: 1000000px;
        }
        @media (max-height: 715px) {
            max-height: 325px;
        }
        @media (max-height: 635px) {
            max-height: 250px;
        }
        @media (max-height: 560px) {
            max-height: 200px;
        }
        @media (max-height: 505px) {
            max-height: 125px;
        }
    }

    dl{
        margin-bottom: 0px;
    }

    #toggleBaselayer{
        width:60px;
        height:60px;
        background-color: black;
        background-image: url(/static/visualize/img/baselayer.png);
        display: table-cell;
        vertical-align: bottom;
        border: 1.5px solid $gray-darker;
        box-shadow: 3px 3px 10px $gray-darker;
    }

    .olControlScaleBar {
        bottom: 0px;
        right: 13px;
    }

    #map.zoomBox {
        cursor: url(../ico/magnify.cur), pointer;
        cursor: -moz-zoom-in, pointer;
    }

    .layer-info{
        text-align:center;
        float: none;
        .link-bar{
            float: none;
            margin-left: auto;
            margin-right: auto;
            span{
                background-color: $gray-light;
                padding: 2px;
            }
        }
        a, a:hover, a:active, a:visited{
            font-size: 12px;
            font-weight:bold;
            color: $deep-blue; 
        }
        .layer-text{
            text-align: left;
            margin-left: auto;
            margin-right: auto;
            padding: 7px;
            font-size: 13px;
            width: 80%;
        }
    }

    #baselayers a, #map-controls a, #map-controls span, #right-btns a {
        display: block;
        margin: 2px;
        padding: 2px 0px 0px 2px;
        color: $gray-darker;
        text-decoration: none;
        text-align: center;
        height: 24px;
        width: 24px;
        line-height: 19px;
        background: $gray-light;
        filter: alpha(opacity=100);
        margin-bottom: 10px;
        border-bottom-left-radius: 0px;
    }

    #right-btns a {
        text-align: right;
        padding-right: 10px;
    }

    #baselayers span, #map-controls span, #right-btns span {
        opacity: 0;
        filter: alpha(opacity=0);
        font-size: 12px;
    }

    #baselayers span, #map-controls span {
        visibility: hidden;
        width: 100%;
    }

    #right-btns span {
        visibility: hidden;
    }

    #right-btns i.icon-zoom-in {
        margin-left: -63px;
    }

    #right-btns i.icon-layers {
        margin-left: -57px;
    }

    #right-btns i.icon-zoom-out {
        margin-left: -75px;
    }

    #right-btns:hover a,
    #right-btns.open {
        width: 120px;
    }
    #right-btns:hover span,
    #right-btns.open span  {
        visibility: visible;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    #right-btns:hover i,
    #right-btns.open i {
        margin-left: 0px;
    }
    #map-controls a:hover,
    #right-btns a:hover,
    #right-btns a.active {
        color: $green;
    }

    #map.zoomBox .olHandlerBoxZoomBox {
        border: 2px solid #2d8998;
    }

    .SimpleLayerSwitcher {
        position: absolute;
        bottom: 32px;
        right: 150px;
        background-color: $gray-light;
        border: 2px solid $gray-light;
        max-width: 450px;
        text-align: left;
        background: $gray-light;
        opacity: 1;
        border-radius: 0px;
        display: none;
        overflow: hidden;
        width: 425px;
    }

    .SimpleLayerSwitcher a.basey {
      box-shadow: none;
      display:inline-block;
      text-decoration:none;
      color:white;
      padding:0px;
      padding-left: 0px;
      font-size: 14px;
      background: $gray-light;
      opacity: 1;
      width: 62px;
      margin: 4px 0px 3px 7px;
    }

    .SimpleLayerSwitcher a.basey-on {
        font-weight: bold;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .SimpleLayerSwitcher a {
      /*border-top:1px solid #eee;*/
      border: 1px solid black;
      div{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        height: 60px;
        width: 60px;
        color: $gray;
        font-size: 12px;
      }

    }

    .SimpleLayerSwitcher a:hover {
        opacity: 1;
    }

    .SimpleLayerSwitcher a.basey-off {

    }

    .popover .radio input {
        width: 94%;
    }

    .disabled {
        color: #777 !important;
    }

    #printing-popover .arrow, {
        display: none;
    }
/*
    #bookmarks-table{
        padding: 0px;
        overflow-y: auto;
        height: 200px;
        overflow-x: hidden;
    }*/
    #bookmarks-table td { border-top: none; }

    #printing-popover .radio input {
        width: 20%;
    }
    #printing-popover .ui-spinner {
        width: 55%;
    }

    #printing-popover {
        max-width: 460px;
        border: none;
        border-radius: 0px;
        @include box-shadow(none);
        .pull-right{
            margin: 6px 0 0 0px;
        }
    }

    #printing-popover .alert {
        margin-bottom: 10px;
    }

    #printing-popover .print-title {
        width: 418px;
    }
    #printing-popover .well {
        padding-top: 5px;
        padding-bottom: 6px;
    }
    #printing-popover .well strong {
        margin-left: -8px;
    }

    #printing-popover .checkbox {
        margin-left: 9px;
    }
    /*
    #printing-popover .popover-content{
        max-height:260px;
        overflow: auto;
    }
    */
    #print-modal .modal-header {
        border-bottom: 0px;
    }
    #print-modal .loading span {
        margin-left: 10px;
    }
    #print-modal .modal-body {
        overflow: hidden;
    }
    #print-modal img.thumb {
        display: block;
        margin: auto;
        width: 100%;
    }

    &.print .tabs,
    &.print .user-btn,
    &.print #feedback-tab,
    &.print #help-tab,
    &.print #map-controls,
    &.print .olControlZoom
     {
        display: none;
    }


    &.print #legend {
        margin-left: 1%;
    }

    &.borderless {
        margin-top: 0px;
    }
    body.borderless #primary-content {
        padding-left: 0px;
    }

    &.borderless hr,
    &.borderless .navbar,
    &.borderless .timestamp  {
        display: none;
    }

    &.borderless #map-wrapper {
        border: 0px;
    }

    .split-column {
        -moz-column-count: 2; /* Firefox */
        -webkit-column-count: 2; /* Safari and Chrome */
        column-count: 2;
    }


    .video-button a {
        cursor: pointer;
        /*text-decoration: none;*/
    }

    #video-modal {
        float: none;
        clear: both;
        width: 50%;
        left: 40%;
        /*position: relative;*/
        padding-bottom: 56.25px;
        padding-top: 5px;
        height: 0;
    }
    #video-modal .modal-body {
        min-height: 400px;
    }
    #video-modal iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .panel-title>a{
        float: right;
        color: white;
        background-color: $green;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        padding-left: 1px;
        padding-top: 2px;
        text-align: center;
    }
    .sidebar-nav .nav-tabs{
        border-top: 1px solid #ddd;
        background-color: $gray-lighter;
        text-align: center;
        .disabled{
            background-color:$gray-lighter;

            a{
               color: $gray !important;
            }
        }
    }

    .sidebar-nav .nav-tabs>li:first-child{
        min-width: 115px;
    }

    .sidebar-nav .nav-tabs>li{
        padding: 0px 15px 0px 15px;
        margin-bottom: 0px;
    }

    .sidebar-nav .nav-tabs>li a{
        margin-right:0px;
        border-top: 0px ;
        border-bottom: 0px ;
        border-left: 0px;
        border-right: 0px;
        border-radius: 0px;
        text-decoration: none;
        color: $gray-darker;

        .count {
            color: $green;
        }
    }

    .sidebar-nav .nav-tabs li.active{
        background-color: $light-gray;
    }
    .sidebar-nav .nav-tabs>li.active a, .nav-tabs>li.active a:hover, .nav-tabs>li.active a:focus {
        border-bottom: 2px solid $green;
        color: $green;
        border-left: 0px;
        border-right: 0px;
        text-decoration: none;
    }

    .tab-pane {
        height: 100%;
    }

    #legend.tab-pane {
        .legend-title {
            font-size: 16px;
        }
        .legend-subtitle {
            font-size: 14px;
            margin: 2px 0 10px;
        }
    } 

    .sidebar-nav .tab-content, .sidebar-nav #data-accordion {
        background-color: $gray-lighter;
    }
    .tab-content .tab-pane{
        overflow-y: auto;
    }

    .accordion-toggle{
        cursor: pointer;
        padding: 10px 20px;
        display: inline-block;
        color: $dark-gray;
        font-size: 16px;
    }

    .accordion-heading.active{
        background-color: $gray-light;
    }
    #data-panel{
        background-color: $gray-lighter;
        .layer-row {
            table-layout: fixed;
            width: 100%;
            > tbody > tr > td {
              width: 40px;
              &.layer-name {
                width: initial;
                table {
                  width: 100%
                }
                > a {
                  display: block;
                }
              }
            }
            .add-on {
              width: 1px;
            }
            .btn-layer {
              white-space: normal;
            }
        }
    }

    ul.unstyled{
        list-style: none;
        padding-left: 0px
    }

    .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
        color: $deep-blue;
        background-color: $light-gray;
    }

    .dropdown-menu > li > a {
        span {
            white-space: normal;
        }
    }
    ul.typeahead.dropdown-menu {
        position: absolute;
        max-height: calc(100vh - 175px);
        min-height: 30px;
        overflow-y: auto;
    }
    .btn{
        text-align: left;
    }
    .btn .btn-text{
        text-align:left;
        white-space: normal;
        display: inline-block;
    }
    span.layer-toggle{
        float: right;
    }
    .layer-menu li a {
        display: block;
        margin-left: 5px;
    }

    table.catalog-data {

        a{
            white-space: inherit;
        }
    }

    #legend-popover{
        top: $map-padding-top;
        right: $map-padding-right + 45px;
        left: inherit !important;
        width: 270px;
        max-width: 280px;
        height: 320px;
        background-color: $gray-lighter;
        border: none;
        border-radius:0px;
        @include box-shadow(none);
        h3{
            color: $green;
            font-size: 14px;
        }
        a:hover{
            color: $green;
        }
        a.close-popup{
            padding: 5px;
            top: 1px;
            position: absolute;
            right: 5px;
        }
        #legend-wrapper{
            overflow-y:auto;
            overflow-x:hidden;
            height: 280px;
            background-color: $white;

            #legend-content{
                padding: 10px;
            }
        }
    }

    #bookmark-popover{

        top: 100px !important;
        right: 75px !important;
        left: inherit !important;
        width: 450px;
        max-width: 460px;
        height: 155px;
        background-color: $gray-lighter;
        border: none;
        border-radius:0px;
        @include box-shadow(none);
        .popover-title{
            background-color: $gray-lighter;

        }
        h3{
            color: $green;
            font-size: 14px;
        }
        a:hover{
            color: $green;
        }
        a.close-popup{
            padding: 5px;
            top: 1px;
            position: absolute;
            right: 5px;
        }
        hr{
            border-top: 1px solid $light-gray;
        }
        input{
            width: 75%;
        }
        button {
            margin-top: 8px;
        }
    }
    .bookmark-settings-popover {
        background-color: $gray-lighter;
        border: none;
        border-radius:0px;
        a{
            font-size: 12px;
            text-decoration:none;
        }
        a:hover{
            text-decoration:none;
            color: $green;
            cursor: pointer;
        }
    }
    .form-search {
        padding-left: 26px;
    }
    .search-box{
        border: none;
        border-bottom: 1px solid $dark-gray;
        @include box-shadow(none);
        border-radius: 0px;
        background-color: $gray-lighter;
        font-size: 20px;
        font-weight: 100;
        padding: 4px;
        margin-top: 8px;
        width: 250px;
    }
    .form-search {
        .right {
            padding: 0;
            top: 18px;
            right: 2px;
        }
    }
    .search-icon {
        color: $gray;
    }
    #left-maximized{
        float: left;
        width: 350px;
    }

    .radio, .checkbox{
        display:inline;
    }
    .popover{
        min-width: 150px;
        min-height: 30px;
    }

    .popover-inner{
        background-color: $gray-lighter;
    }
    #invalid-name-message.control-group {
        color: $danger;
    }


    @media print {
        #primary-content {
          height: 100%;
        }
        #left-panel{
            display:none;
        }
        header {
            display: none;
        }
        header + div {
            height: 100%;
        }

    }
    // @media (min-width: 992px){
    //     .col-md-4{
    //         width:33%;
    //     }
    // }
    // @media (max-width: 767px) {
    //     #data-panel {
    //         width: 100%;
    //     }
    //     #content {
    //         margin-top: 120px;
    //     }
    //     #sidebar-nav {
    //         position: relative;
    //         top: 10px;
    //     }
    //     .nav-collapse {
    //         width: 100%;
    //     }
    //     .nav-collapse .nav {
    //         float: left;
    //     }
    //     .nav-collapse .nav > li {
    //         float: left;
    //     }
    //     .showcase {
    //         margin-top: 10px;
    //     }
    //     h3 {
    //         font-size: 18px !important;
    //     }
    //     .theme li {
    //         padding-left: 0px;
    //     }
    //     #data-accordion .btn-group-layer .btn-layer {
    //       width: 72%;
    //       font-size: 14px;
    //     }
    //     .split-column {
    //         -moz-column-count: 1; /* Firefox */
    //         -webkit-column-count: 1; /* Safari and Chrome */
    //         column-count: 1;
    //     }
    //
    // }
    //
    //
    // @media (min-width: 768px) and (max-width: 979px) {
    //     .showcase {
    //         margin-top: 5px;
    //     }
    //     .showcase .caption {
    //         top: 100px;
    //     }
    //     #active .btn-group .btn-layer {
    //         width: 65%;
    //         font-size: 14px;
    //     }
    //     .form-search input {
    //         width: 100%;
    //         margin-left: -2px;
    //     }
    //     #data-accordion .btn-group-layer .btn-layer {
    //       width: 68%;
    //       font-size: 14px;
    //     }
    // }
    //
    //
    // @media (max-height: 740px) {
    //     #sidebar-nav {
    //         position: relative;
    //         top: -15px!important;
    //     }
    //
    // }
}

.share-checkbox {
    cursor: pointer;
    @include user-select(none);
}

.accordion-heading.active .accordion-toggle::before {
    content: "▾ ";
}
.accordion-heading .accordion-toggle::before {
    content: "▸ ";
}

a.create-new-button {
    cursor: pointer;
    color: $green;
    font-size: 12px;
    @extend .font-medium;
    white-space: nowrap;

    &:hover {
        color: $green;
        text-decoration: none;
    }
}

span.create-new-button {
    color: $green;
    font-size: 12px;
    @extend .font-medium;
    white-space: nowrap;
}

td ul.dropdown-menu {
    left:32px;
    top:12px;
}

.tooltip.fade.bottom.in {
    .tooltip-inner {
        max-width: 1000px;
    }
}


@import "visualize/designs.scss";

@import "visualize/bookmark-modal.scss";