<!DOCTYPE html>
{% load url from future %}
<html lang="en" style="height: 100%;">
    
    <head>
        <meta charset="utf-8">
        <title>
            MARCO Planning Tool
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Le styles -->
        <link href="{{MEDIA_URL}}/marco/assets/bootstrap/bootstrap.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/assets/font/font-awesome.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/css/marco_style.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/assets/scalebar-thin.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/css/style.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/assets/jquery/pageguide.css" rel="stylesheet">

        <link href="{{MEDIA_URL}}/marco/assets/jquery/smoothness/jquery-ui-1.9.1.custom.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/assets/jquery/jquery.mCustomScrollbar.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/assets/jquery/jquery.jscrollpane.css" rel="stylesheet">
        <!--<link href="{{MEDIA_URL}}/marco-proto/assets/css/jScrollPane.css" rel="stylesheet">-->
        <!--<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/base/jquery-ui.css"
        type="text/css" media="all" />-->
        <link rel="shortcut icon" href="{{MEDIA_URL}}/marco/ico/favicon.ico">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <link href="{{MEDIA_URL}}/marco/css/marco_style.ie.css" rel="stylesheet">
            <style>
                    #feedback-tab {
                        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1.836909530733566e-16, M12=-1, M21=1, M22=-1.836909530733566e-16, SizingMethod='auto expand')";
                        left: 0px;

                        /* IE6 and 7 */ 
                        filter: progid:DXImageTransform.Microsoft.Matrix(
                                 M11=-1.836909530733566e-16,
                                 M12=-1,
                                 M21=1,
                                 M22=-1.836909530733566e-16,
                                 SizingMethod='auto expand');

                      }
            </style>
            <script src="{{MEDIA_URL}}marco/assets/respond.min.js"></script>
        <![endif]-->
        <!-- Le fav and touch icons -->
        <!--[if IE 7]>
          <link rel="stylesheet" href="{{MEDIA_URL}}marco/assets/font/font-awesome-ie7.css">
        <![endif]-->

        <style>
        .navbar .nav > li:hover > a, .navbar .nav > li.active > a, .navbar .nav > li:hover > a:visited {
            height: 30px;
           
        }
        .navbar .nav > li > a {
            height: 25px;
        }

        </style>
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{MEDIA_URL}}/marco/assets/bootstrap/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{MEDIA_URL}}/marco/assets/bootstrap/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{MEDIA_URL}}/marco/assets/bootstrap/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="{{MEDIA_URL}}/marco/assets/bootstrap/ico/apple-touch-icon-57-precomposed.png">
        
        <!-- Google Analytics -->
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35841423-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        
        <style type="text/css">
            #map-panel .olControlZoom {
                position: absolute;
                bottom: 12px;
                right: 12px;
                top: inherit;
                left: inherit;
            }
            #mafmc-layer-switcher {
                top: 12px;
                left: 12px;
                position: absolute;
                min-width: 300px;
                max-width: 300px;
                height: 350px;
                background-color: white;
                /*opacity: .9;*/
                border: 1px solid #ccc;
                border-radius: 4px;
                z-index: 750;
            }
            #mafmc-layer-switcher .btn-group-layer {
                width: 300px;
            }
            #mafmc-layer-switcher .btn-layer {
                padding-left: 6px;
                padding-right: 6px;
                width: 300px;
            }
            #mafmc-layer-switcher .icon-minus {
                color: gray;
            }
            #embedded-marco-logo {
                position: absolute;
                top: 9px;
                left: 12px;
                z-index: 800;
                width: 150px;
                background: transparent;
                border: 0px;
            }
            #mafmc-tabs {
                margin-top: 20px;
                margin-bottom: 10px;
            }   
            #mafmc-tabs li.active a {
                border: 1px solid #ccc;
                border-bottom: 2px solid #2d8998;
                color: #222;
            }
            #mafmc-tabs a {
                text-transform: uppercase;
                margin-left: -2px;
                font-size: 16px;
                color: #888;
                padding: 6px 12px;
            }
            #mafmc-layer-list li {
                margin-bottom: 5px;
            }
            #mafmc-layer-list .layer .btn-info-sign {
                border: 0px;
                background-image: none;
                -webkit-box-shadow: none;
            }
            #mafmc-layer-list .layer .btn-layer {
                width: 225px; 
                border: 0px; 
                -webkit-box-shadow: none; 
                background-image: none;
            }
            .mafmc-theme-name-div {
                margin-bottom: 5px;
            }
            .mafmc-theme-name-div span{
                margin-left: 10px;
                font-size: 14px;
                font-weight: bold;
            }
            .mafmc-layer-name-div {
                width: 230px;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: left;
            }
            #mafmc-legend-content .accordion-body {
                border: 0px;
                background-color: white;
            }
            
            .accordion-heading.active a.accordion-toggle {
                font-weight: normal;
            }
            
            #aggregated-attribute-overlay {
                position: absolute;
                left: 12px;
                bottom: 34px;
                top: inherit;
                width: 302px !important;
                height: 100px;
                border-radius: 4px;
                z-index: 950; 
                font-size: 12px;
                color: inherit;
            }
            #aggregated-attribute-overlay {
                /*position: absolute;
                bottom: 0;
                left: 0;
                top: auto;
                height: 130px;
                min-width: 100%;
                max-width: 100%;
                z-index: 950; 
                font-size: 12px;*/
                /* RGBa with 0.6 opacity 
                background-color: rgba(60, 110, 160, 0.65);*/
                /* For IE 5.5 - 7
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998);*/
                /* For IE 8
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998)";*/
            }
            #aggregated-attribute-overlay .accordion-toggle h4 {
                color: #2d8998 !important;
            }
            #aggregated-attribute-content {
                border-radius: 4px;
                max-width: 500px;
                background-color: rgba(255,255,255, 1) !important;
                bottom: 19px;
                height: 100px;
                border: 1px solid #ccc;
            }
            #aggregated-attribute-content .mCustomScrollBox {
                height: 100px;
            }
            #aggregated-attribute-content .mCSB_scrollTools {
                height: 80px;
            }
            #close-attribution-overlay a {
                position: absolute;
                top: 6px;
                left: 494px;
                opacity: .7;
                text-transform: uppercase;
            }
            #overview-overlay {
                position: absolute;
                left: 12px;
                bottom: 12px;
                top: inherit;
                min-width: 302px;
                width: 500px;
                height: 120px !important;
                border-radius: 4px;
                z-index: 950; 
                font-size: 12px;
                color: inherit;
                background-color: rgba(255,255,255, 1);
                border: 1px solid #ccc;
            }
            #overview-overlay-content {
                border-radius: 4px;
                max-width: 500px;
                color: rgb(51, 51, 51);
                background-color: rgba(255,255,255, 1);
                bottom: 19px;
                height: 100px;
                border: 0px;
            }
            #overview-overlay-text {
                height: 40px !important;
            }
            #overview-overlay .title {
                font-weight: normal;
            }
            .olControlScaleBarWrapper {
                display: none;
            }
            #embedded-legend-button {
                background: rgba(0, 60, 136, 0.5);
                color: white;
                position: absolute;
                top: 12px;
                right: 12px;
                z-index: 800;             
            }
            #embedded-legend {
                position: absolute;
                max-width: 30%;
                min-width: 200px; 
                max-height: 80%;
                min-height: 100px;
                top: 42px;
                right: 13px;
                padding: 10px;
                background-color: white;
                border-radius: 5px;
                z-index: 800;             
            }
            .jspVerticalBar {
                right: 2px;
            }
            .olControlZoom {
                background: transparent !important;
            }
            .olControlZoomIn {
                padding: 1px !important;
            }
            .olControlZoomOut {
                padding: 1px !important;
            }
            .olControlAttribution {
                left: 10px !important;
                bottom: 5px !important;
            }
            #aggregated-attribute-overlay .mCSB_dragger_bar {
                background: rgba(91, 91, 91, .9);
            }
            #aggregated-attribute-overlay .mCSB_dragger_bar:hover {
                background: rgba(91, 91, 91, .9);
            }

            .olPopup {
                pointer-events: none;
            }
            .olPopupCloseBox {
                display: none;
            }
            .olFramedCloudPopupContent {
                text-align: center;
                height: 20px !important;
                background: white;
                border-radius: 4px;
            }
            #_FrameDecorationDiv_0 {
                display: none;
            }
            #_FrameDecorationImg_0 {
                display: none;
            }
            #_FrameDecorationDiv_2 {
                display: none;
            }
            #_FrameDecorationDiv_4 {
                display: none;
            }
            .jspTrack {
                height: inherit !important;
            }
        </style>
        
        
    </head>
    
    <body style="margin: 0px; padding: 0px; height: 100%;">
        
        <div class="container-fluid" id="primary-content" style="height: 100%; padding: 0px">
            <div id="loading">
                <h2>Loading...</h2>
            </div>
            <div class="row-fluid" id="fullscreen" style="height: 100%;">
                <!-- Map Panel -->
                <div id="map-panel" class="span12" style="height: 100%;">       
                
                    <div id="mafmc-panel" class="row-fluid" data-bind="visible: showMapPanel" style="height: 100%;">
                        <div class="span12" style="height: 100%;">
                            <div class="row-fluid" style="height: 100%;">
                                <div id="map-wrapper" style="height: 100%; border-radius: 0px;">
                                    <div id="map" style="height: 100%; border-radius: 0px;"></div>
                                    <div id="basemaps"> <!-- Basemaps, Legends, Layers, Bookmarks, and FullScreen buttons -->
                                        <div class="btn-group btn-group-vertical">
                                            <!--Basemaps Button-->
                                            <a id="basemap-button" class="btn" data-bind="event: { mouseenter: showMAFMCBasemaps }">
                                                <i class="icon-globe icon-large"></i>
                                                <span>Basemaps</span>
                                            </a>
                                        </div>
                                    </div>
                                        
                                    <!-- Aggregated Attribution Overlay Test (might still be referenced within the js) -->
                                    <div id="aggregated-attribute-overlay-test" style="position: absolute; visibility: hidden; height: auto; width: auto">
                                        <div data-bind="foreach: attributeLayers()">
                                            <div data-bind="css: {display: $root.aggregatedAttributes()[featureAttributionName] ? 'block' : 'none'}">
                                              <h4 data-bind="text: featureAttributionName"></h4>
                                              <dl data-bind="foreach: { data: $root.aggregatedAttributes()[featureAttributionName], afterAdd:$root.updateMarker }">
                                                <dt>
                                                    <span data-bind="text: display"></span><span data-bind="visible: display && data ? true : data===0">:</span>
                                                    <span style="font-weight: normal" data-bind="text: data"></span>
                                                </dt>
                                              </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Aggregated Attribution Overlay -->
                                    <div data-bind="visible: showFeatureAttribution">
                                        <div id="aggregated-attribute-overlay" class="mafmc-attributes scrollpane" data-bind="visible: aggregatedAttributes, style: {width: aggregatedAttributesWidth}" style="display: none">
                                            <div id="aggregated-attribute-content" class="accordion">
                                                <div data-bind="foreach: attributeLayers()">
                                                    <div class="accordion-group">
                                                        <div data-bind="visible: $root.aggregatedAttributes()[featureAttributionName]">
                                                            <div class="accordion-heading" data-bind="click: toggleLayerAttribution">
                                                                <a class="accordion-toggle">
                                                                    <h4 style="font-weight: normal; font-size: 16px;" data-bind="text: featureAttributionName"></h4>
                                                                </a>
                                                            </div>
                                                            <div class="accordion-body collapse in" data-bind="attr: { id: $root.convertToSlug(featureAttributionName) }" >
                                                                <div class="accordion-inner">
                                                                    <dl data-bind="foreach: { data: $root.aggregatedAttributes()[featureAttributionName], afterAdd:$root.updateMarker }">
                                                                        <dt>
                                                                            <!-- ko if: $data.hasOwnProperty("tab") --> 
                                                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 
                                                                            <!-- /ko -->
                                                                            <span data-bind="text: display"></span><span data-bind="visible: display && data ? true : data===0">:</span>
                                                                            <span style="font-weight: normal" data-bind="text: data"></span>
                                                                        </dt>
                                                                    </dl>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <span id="close-attribute-overlay" class="pull-right"><a href="#" style="position: absolute; top: 10px; right: 10px; opacity: .6;" class="btn btn-mini close" data-bind="click: closeAttribution"> x </a> </span>
                                        </div>
                                    </div>

                                    <!-- Description Overlay  -->
                                    <div id ="description-overlay" style="display: none" data-bind="visible: showDescription() && !showOverview()" >
                                        <div>
                                            <span class="title" data-bind="text: activeInfoLayer().name"></span> -- 
                                            <span class="text" data-bind="text: activeInfoLayer().description"></span>
                                            <div class="pull-right"><a class="btn btn-mini" data-bind="click: expandDescription, text: 'Show More...'"></a></div>
                                        </div>
                                        <div>
                                            <a href="#" style="margin-left: 10px; opacity: .6;" class="btn btn-mini pull-right close" data-bind="click: closeDescription"> x </a> 
                                        </div>
                                    </div> 
                                    
                                    <div id="overview-overlay" style="display: none" data-bind="visible: showOverview()" >
                                        <div id="overview-overlay-content">
                                            <div id="overview-overlay-header" >
                                                <span class="btn-group" data-bind="visible: activeInfoSelector()">
                                                    <a id="overview-dropdown-button" class="btn dropdown-toggle" href="#" name="description-dropdown" data-bind="click: activateOverviewDropdown">
                                                        <span data-bind="text: activeInfoSublayer().name ? activeInfoSublayer().name : activeInfoLayer().name"></span>
                                                        <span class="caret"></span>
                                                    </a>
                                                    <ul id="overview-overlay-dropdown" class="dropdown-menu">
                                                        <li>
                                                            <a data-bind="click: activeInfoLayer().toggleSublayerDescription">
                                                                <span data-bind="text: activeInfoLayer().name"></span>
                                                            </a>
                                                        </li>
                                                        <li data-bind="foreach: activeInfoLayer().subLayers">
                                                            <a data-bind="click: toggleSublayerDescription">
                                                                <span data-bind="text: name"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </span>
                                                <span class="title" data-bind="text: activeInfoLayer().name, visible: !activeInfoSelector()"></span> 
                                                <!--<span class="caret" style="display:none" data-bind="visible: activeInfoLayer().subLayers"></span>-->
                                                <span><a href="#" style="margin-left: 10px; opacity: .8;" class="btn btn-mini pull-right close" data-bind="click: closeDescription"> x </a> </span>
                                            </div>
                                            <div id="overview-overlay-text" style="margin-top: 5px"> 
                                                <span class="text" data-bind="text: getOverviewText()" style="white-space: pre-wrap"></span>
                                                <div class="notes">
                                                    <div data-bind="visible: activeInfoSublayer() ? activeInfoSublayer().data_source : activeInfoLayer().data_source">
                                                        Source: 
                                                        <span data-bind="text: activeInfoSublayer() ? activeInfoSublayer().data_source : activeInfoLayer().data_source"></span>
                                                    </div>
                                                    <div style="margin-top: 5px" data-bind="visible: activeInfoSublayer() ? activeInfoSublayer().data_notes : activeInfoLayer().data_notes">
                                                        Notes: 
                                                        <span data-bind="text: activeInfoSublayer() ? activeInfoSublayer().data_notes : activeInfoLayer().data_notes"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            {% load flatblock_tags %}
                                            <div id="overview-overlay-links">
                                              <span>
                                                <div class="text" style="margin-top: 5px">
                                                    <span>
                                                        <a class="btn btn-mini" data-bind="css: { disabled: ! activeKmlLink() }, attr: { href: activeKmlLink() }" target="_blank">
                                                            <span rel="tooltip" title="{% flatblock 'data_catalog_kml_link_tooltip' %}">
                                                                {% flatblock "data_catalog_kml_link" %}
                                                            </span>
                                                        </a>
                                                    </span>
                                                    <span>
                                                        <a class="btn btn-mini" data-bind="css: { disabled: ! activeDataLink() }, attr: { href: activeDataLink() }" target="_blank">
                                                            <span rel="tooltip" title="{% flatblock 'data_catalog_data_link_tooltip' %}">
                                                                {% flatblock "data_catalog_data_link" %}
                                                            </span>
                                                        </a>
                                                    </span>
                                                    <span>
                                                        <a class="btn btn-mini" data-bind="css: { disabled: ! activeMetadataLink() }, attr: { href: activeMetadataLink() }" target="_blank">
                                                            <span rel="tooltip" title="{% flatblock 'data_catalog_metadata_link_tooltip' %}">
                                                                {% flatblock "data_catalog_metadata_link" %}
                                                            </span>
                                                        </a>
                                                    </span>
                                                    <span>
                                                        <a class="btn btn-mini" data-bind="css: { disabled: ! activeSourceLink() }, attr: { href: activeSourceLink() }" target="_blank">
                                                            <span rel="tooltip" title="{% flatblock 'data_catalog_source_link_tooltip' %}">
                                                                {% flatblock "data_catalog_source_link" %}
                                                            </span>
                                                        </a>
                                                    </span>
                                                    <span>
                                                        <a class="btn btn-mini" data-bind="css: { disabled: ! activeTilesLink() }, attr: { href: activeTilesLink() }" target="_blank">
                                                            <span rel="tooltip" title="{% flatblock 'data_catalog_tiles_link_tooltip' %}">
                                                                {% flatblock "data_catalog_tiles_link" %}
                                                            </span>
                                                        </a>
                                                    </span>
                                                </div>
                                              </span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Layer Switcher -->
                                    <div id="mafmc-layer-switcher">
                                    
                                        <!-- Header -->
                                        <div>
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <img style="-webkit-box-shadow: none; box-shadow: none;" id="embedded-marco-logo" src="{{MEDIA_URL}}/marco/img/marco-logo-transparent.png">
                                                    <i class="icon-minus icon-large" data-bind="click: minimizeLayerSwitcher" style="cursor: pointer; position: absolute; top: 5px; right: 12px;"></i>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <!-- tab controls -->
                                        <ul id="mafmc-tabs" class="nav nav-tabs" style="padding-top: 8px; margin-left: 2px;">
                                            <li class="active" data-tab="data">
                                                <a href="#mafmc-data" data-toggle="tab" id="dataTab">Data</a>
                                            </li>
                                            <li data-tab="active" >
                                                <a href="#mafmc-active" data-toggle="tab" id="activeTab">Active</a>
                                            </li>
                                            <li data-tab="legend" >
                                                <a href="#mafmc-legend" data-toggle="tab" id="legendTab">Legend</a>
                                            </li>
                                            
                                        </ul>
                                        
                                        <!-- tab body -->
                                        <div id="mafmc-tab-content" class="tab-content">
                                        
                                            <!-- DATA TAB -->
                                            <div class="tab-pane active in fade" id="mafmc-data" style="height: 100%">
                                                <!-- Layer List -->
                                                <div id="mafmc-layer-list">
                                                    <!-- data accordion -->
                                                    <div id="data-accordion" style="height: 230px;">
                                                        <div class="accordion" data-bind="foreach: hiddenThemes">
                                                            <div class="accordion-group" style="border-radius: 0px;">
                                                                <div class="accordion-heading" data-bind="click: setOpenTheme, css: { 'active': isOpenTheme() }">
                                                                    <div>
                                                                        <a class="accordion-toggle" style="padding-top: 6px; padding-bottom: 5px; text-decoration: none;"> 
                                                                            <span data-bind="text: name"></span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="accordion-body collapse" style="border-left: 0px; background-color: white;" data-bind="css: { 'in': isOpenTheme() }">
                                                                    <div class="accordion-inner">
                                                                        <ul  class="unstyled" data-bind="foreach: layers ">
                                                                            <li class="layer"  style="margin-bottom: 5px;" data-bind="css: { nosublayers: subLayers.length === 0 }">
                                                                                <div class="btn-group btn-group-layer" data-bind="attr: {name: name}">
                                                                                    <!-- <a class="btn btn-info-sign" data-bind="click: toggleDescription, css: { 'active': infoActive() }">
                                                                                        <i class="icon-info-sign icon-large"></i>
                                                                                    </a> -->
                                                                                    <a class="btn btn-layer" style="width: 250px; border: 0px; -webkit-box-shadow: none; background-image: none;" data-bind="css: { 'active': active(), 'not-active': ! active(), 'disabled': isDisabled(), 'annotated': annotated }, attr: { 'data-content': disabledMessage() }, click: toggleActive" data-toggle="popover" data-placement="top">
                                                                                        <div class="mafmc-layer-name-div" style="font-weight: normal">                                                          
                                                                                            <i class="icon-info-sign" rel="popover" data-placement="right" data-container="body" data-bind="attr: {'data-content': overview, 'data-original-title': overview ? name : ''}, css: {'disabled': !overview}"></i>
                                                                                            <span style="padding-left: 2px;" data-bind="text: name"></span>
                                                                                            <span class="caret" style="display:none" data-bind="visible: subLayers.length > 0"></span>
                                                                                            <i class="check icon-large icon-check" data-bind="visible: active() && visible()"></i>
                                                                                            <i class="check icon-large icon-check-empty" data-bind="visible: active() && ! visible()"></i>
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </li>  
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /DATA TAB -->
                                            
                                            <!-- ACTIVE TAB -->
                                            <div class="tab-pane fade" id="mafmc-active">
                                                <div class="row-fluid">
                                                    <div id="mafmc-active-content" class="span12" style="height: 230px;">
                                                        <div data-bind="visible: activeLayers().length === 0">
                                                            <div style="margin: 20px;">
                                                                <p>
                                                                    You currently have no activated data layers. 
                                                                </p>
                                                                <p>
                                                                    Data layers that are activated in the Data tab will appear in this Active tab.
                                                                </p>
                                                                <p>
                                                                    Data layers in the Active tab can be adjusted in terms of their transparency and their ordering on the map.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <ul class="unstyled list" style="margin-top: 5px; margin-left: 12px;" data-bind="sortable: { data: activeLayers, options: {  } }">
                                                            <li style="margin-bottom: 5px;">
                                                                <div class="btn-group">
                                                                    <a class="btn btn-layer" style="width: 185px; border: 0px; text-align: left; -webkit-box-shadow: none; background-image: none;" data-bind="css: { 'active': visible(), 'disabled': isDisabled() }, click: toggleVisible">
                                                                        <div data-bind="text: name" style="max-width: 145px; overflow: hidden; text-overflow: ellipsis; padding-left: 2px;"></div>
                                                                        <span rel="tooltip" data-bind="attr: {title: sharedBy}">
                                                                            <i class="icon-group" data-bind="visible: shared" style="padding-left: 10px"></i>
                                                                        </span>
                                                                        <span ><i class="icon-large check" data-bind="css: { 'icon-check': visible(), 'icon-check-empty': ! visible() }"></i></span>
                                                                    </a>
                                                                    <a class="btn opacity-button" style="border: 0px; -webkit-box-shadow: none; background-image: none; width: 15px;" data-bind="click: $parent.showOpacity, css: {'disabled': isDisabled()}"><i class="icon-adjust icon-large"></i></a>
                                                                    <button class="btn" style="border: 0px; -webkit-box-shadow: none; background-image: none;" data-bind="click: toggleActive, css: {'disabled': isDisabled()}">
                                                                        <i class="icon-remove"></i>
                                                                    </button>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END ACTIVE TAB -->
                                            
                                            <!-- LEGEND TAB -->
                                            <div class="tab-pane fade" id="mafmc-legend" style="background-color: white; height: 230px; outline: none;">
                                                <div class="row-fluid" style="height: 100%">
                                                    <div id="mafmc-legend-content" class="accordion" style="margin: 0px 20px; outline: none !important; height: 100%;">
                                                      <div data-bind="visible: activeLegendLayers().length == 0">
                                                        Activate data layers and their legends will appear here in the Legend tab.
                                                      </div>
                                                      <div data-bind="foreach: activeLegendLayers" style="height: 100%;">
                                                        <div>
                                                            <span data-bind="if: legend">
                                                                <div data-bind="if: legend['elements']">
                                                                    <div data-bind="foreach: legend['elements']">
                                                                        <div>
                                                                            <img data-bind="attr: {src: swatch}" />
                                                                            <span data-bind="text: label" style="font-size: 11px; font-weight: bold;"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-bind="if: !legend['elements']">
                                                                    <div data-bind="css: { 'in': legendVisibility }" style="padding-top: 5px;">
                                                                        <img data-bind="attr: { src: legend }" />
                                                                    </div>
                                                                </div>
                                                            </span>
                                                        </div>
                                                        <!--<div class="accordion-group" style="border: 0px;">
                                                            <div class="accordion-heading" data-bind="click: toggleLegendDetails">
                                                                <a class="accordion-toggle" style="text-decoration: none; padding-left: 0px;">
                                                                    <span style="font-weight: normal" class="pagination-centered legend-title" data-bind="html: legendTitle ? legendTitle : name"></span>
                                                                    <p style="margin: 0px -5px 3px; text-align: left;font-size: 12px;" data-bind="visible: legendSubTitle, html: legendSubTitle"></p>
                                                                </a>
                                                            </div>
                                                            <div class="accordion-body collapse in" data-bind="attr: { id: $root.convertToSlug(name)+'-legend-content' }" >
                                                                <div class="accordion-inner" style="border: 0px; padding-top: 0px;">
                                                                    <span data-bind="if: legend">
                                                                        <div data-bind="if: legend['elements']">
                                                                            <div data-bind="foreach: legend['elements']">
                                                                                <div>
                                                                                    <img data-bind="attr: {src: swatch}" />
                                                                                    <span data-bind="text: label" style="font-size: 11px; font-weight: bold;"></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div data-bind="if: !legend['elements']">
                                                                            <div data-bind="css: { 'in': legendVisibility }" style="padding-top: 5px;">
                                                                                <img data-bind="attr: { src: legend }" />
                                                                            </div>
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>-->
                                                      </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <!-- END LEGEND TAB -->
                                            
                                            
                                        </div>
                                        
                                    </div>
                                    <!-- /Layer Switcher -->
                                    
                                    
                                    <!-- transparency tool -->
                                    <div style="display:none" id="opacity-popover" class="popover fade bottom in">
                                        <div class="arrow">
                                        </div>
                                        <div class="popover-inner">
                                            <div class="popover-content" data-bind="if: selectedLayer">
                                                <div class="slider" data-bind="jqSlider: selectedLayer().opacity, jqOptions: { min: 0, max: 1, step: .01, range: 'min' }"></div>                    
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <span class="timestamp" data-bind="visible: mapTitle"><span data-bind="text: new Date().toString('M/d/yyyy HH:mm')"></span></span>
        </div>

        <!--/row-->
          
        <!--/.fluid-container-->

        
        <!--<link rel="stylesheet" type="text/css" href="http://www.transportparadise.co.uk/layerswitcher/layerswitcher.css" />
        <link rel="stylesheet" type="text/css" src="{{MEDIA_URL}}/marco-proto/assets/css/simplelayerswitcher.css" />-->
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/bootstrap/bootstrap.min.js"></script>  
        <!--
        <script src="{{MEDIA_URL}}/marco/assets/bootstrap/bootstrap-tooltip.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/bootstrap/bootstrap-popover.js"></script> -->
        <script src="{{MEDIA_URL}}/marco/assets/amplify.min.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.ba-bbq.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery-ui-1.9.1.custom.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/underscore/underscore-min.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/knockout/knockout-2.1.0.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/knockout/knockout-bindings.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/knockout/knockout.mapping-latest.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.pageguide.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/highcharts/highcharts.js" type="text/javascript"></script>
        <script src="{{MEDIA_URL}}/marco/assets/highcharts/highcharts-more.js" type="text/javascript"></script>
     <!-- <script src="http://maps.google.com/maps/api/js?v=3.5&amp;sensor=false"></script>-->
        <script src="http://maps.google.com/maps/api/js?v=3.6&amp;sensor=false"></script>

        <!--<script src="{{MEDIA_URL}}/marco/assets/openlayers/OpenLayers.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/openlayers/scalebar.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/openlayers/simplelayerswitcher.js"></script>-->
        <script src="{{MEDIA_URL}}/marco/assets/openlayers/OpenLayers-marco-min.js"></script>

        <script src="{{MEDIA_URL}}/marco/assets/bigscreen.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.ui.touch-punch.min.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.jscrollpane.min.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/date.js"></script>


        <script src="{{MEDIA_URL}}/marco/js/fixtures.js"></script>
        <script src="{{MEDIA_URL}}/marco/js/map.js"></script>
        <script src="{{MEDIA_URL}}/marco/js/state.js"></script>
        <script src="{{MEDIA_URL}}/marco/js/models.js"></script>
        <script src="{{MEDIA_URL}}/marco/js/server.js"></script>
        <script src="{{MEDIA_URL}}/marco/js/printing.js"></script>
        <script src="{{MEDIA_URL}}/marco/js/app.js"></script>

        <!--[if gt IE 8]><!-->
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.mousewheel.min.js"></script>
        <!--<![endif]-->

        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.mCustomScrollbar.js"></script>
        
        <script type="text/javascript">
            $('#fullscreen').on('click', function() {
                setTimeout(function() { 
                    if ( $('#aggregated-attribute-overlay').is(":visible") ) {
                        app.viewModel.hideMapAttribution(); 
                    } else {
                        app.viewModel.showMapAttribution(); 
                    }
                }, 500);
            });
            
            $(document).ready( function() {
                app.map.getLayersByName('ESRI Ocean')[0]['attribution'] = "Basemap Attribution";
                $('.olControlAttribution').text("Basemap Attribution");
                $('.olControlAttribution').width("120px");
                $('.olControlAttribution').attr('rel',"tooltip");
                //$('.olControlAttribution').attr('title',"The Ocean Basemap was created with data from the General Bathymetric Chart of the Oceans (GEBCO), IHO-IOC GEBCO Gazetteer of Undersea Feature Names, NOAA, Seafloor Mapping Lab of the California State University Monterey Bay, National Geographic, DeLorme, and Esri.");
                $('.olControlAttribution').attr('title',"The ESRI Ocean Basemap was was built using data provided by ESRI, GEBCO, NOAA, Canadian Hydrographic Service (CHS), California State University at Monterey Bay (CSUMB), National Geographic, DeLorme, and NAVTEQ.");
                
                setTimeout(function() {
                    $('.icon-info-sign').popover({
                        delay: {'show': 200},
                        trigger: 'hover'
                        //template: '<div class="popover layer-popover"><div class="arrow"></div><div class="popover-inner layer-tooltip"><div class="popover-content"><p></p></div></div></div>'
                    });
                    $('.icon-info-sign').click(function(e) {
                        if ( $('.popover').is(':visible') ) {
                            $('.popover').hide();
                        }
                    });

                    $('.annotated.disabled').popover({
                        delay: {'show': 200},
                        trigger: 'hover'//,
                        //template: '<div class="popover layer-popover"><div class="arrow"></div><div class="popover-inner layer-tooltip"><div class="popover-content"><p></p></div></div></div>'
                    });

                }, 2000);
            });
            
            $(function () { 
                //$("#test-popover").popover({trigger: 'hover'});  
                $(".olControlAttribution").tooltip({trigger: 'hover'}); 
                $("#embedded-marco-logo").tooltip({trigger: 'hover'});
            });  

        
        </script>
        
        <script type="text/javascript">
            app.embeddedMap = true;
            app.mafmc = true;
            $('#basemap-button').css({'border-radius': '4px'});
        </script>
        
    </body>

</html>