<!DOCTYPE html>
{% load url from future %}
<html lang="en" style="height: 100%;">
    
    <head>
        <meta charset="utf-8">
        <title>
            MARCO Planning Tool
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Le styles -->
        <link href="{{MEDIA_URL}}/marco/assets/bootstrap/bootstrap.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/assets/font/font-awesome.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/css/marco_style.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/assets/scalebar-thin.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/css/style.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/assets/jquery/pageguide.css" rel="stylesheet">

        <link href="{{MEDIA_URL}}/marco/assets/jquery/smoothness/jquery-ui-1.9.1.custom.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/assets/jquery/jquery.mCustomScrollbar.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/assets/jquery/jquery.jscrollpane.css" rel="stylesheet">
        <!--<link href="{{MEDIA_URL}}/marco-proto/assets/css/jScrollPane.css" rel="stylesheet">-->
        <!--<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/base/jquery-ui.css"
        type="text/css" media="all" />-->
        <link rel="shortcut icon" href="{{MEDIA_URL}}/marco/ico/favicon.ico">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <link href="{{MEDIA_URL}}/marco/css/marco_style.ie.css" rel="stylesheet">
            <style>
                    #feedback-tab {
                        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1.836909530733566e-16, M12=-1, M21=1, M22=-1.836909530733566e-16, SizingMethod='auto expand')";
                        left: 0px;

                        /* IE6 and 7 */ 
                        filter: progid:DXImageTransform.Microsoft.Matrix(
                                 M11=-1.836909530733566e-16,
                                 M12=-1,
                                 M21=1,
                                 M22=-1.836909530733566e-16,
                                 SizingMethod='auto expand');

                      }
            </style>
            <script src="{{MEDIA_URL}}marco/assets/respond.min.js"></script>
        <![endif]-->
        <!-- Le fav and touch icons -->
        <!--[if IE 7]>
          <link rel="stylesheet" href="{{MEDIA_URL}}marco/assets/font/font-awesome-ie7.css">
        <![endif]-->

        <style>
        .navbar .nav > li:hover > a, .navbar .nav > li.active > a, .navbar .nav > li:hover > a:visited {
            height: 30px;
           
        }
        .navbar .nav > li > a {
            height: 25px;
        }

        </style>
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{MEDIA_URL}}/marco/assets/bootstrap/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{MEDIA_URL}}/marco/assets/bootstrap/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{MEDIA_URL}}/marco/assets/bootstrap/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="{{MEDIA_URL}}/marco/assets/bootstrap/ico/apple-touch-icon-57-precomposed.png">
        
        <!-- Google Analytics -->
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35841423-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        
        <style type="text/css">
            
            #aggregated-attribute-overlay {
                position: absolute;
                /*border-radius: 4px; can't tell if I want this or not...*/
                bottom: 0;
                left: 0;
                top: auto;
                height: 130px;
                min-width: 100%;
                max-width: 100%;
                z-index: 950; 
                /*overflow-x: hidden;
                overflow-y: auto;*/
                /*overflow: auto;*/
                font-size: 12px;
                /* RGBa with 0.6 opacity */
                background-color: rgba(60, 110, 160, 0.65);
                /* For IE 5.5 - 7*/
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998);
                /* For IE 8*/
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998)";
            }
            #aggregated-attribute-content {
                height: 110px;
            }
            #aggregated-attribute-content .mCustomScrollBox {
                height: 110px;
            }
            #aggregated-attribute-content .mCSB_scrollTools {
                height: 80px;
            }
            .olControlScaleBarWrapper {
                display: none;
            }
            #embedded-marco-logo {
                position: absolute;
                top: 12px;
                left: 53px;
                z-index: 800;
                width: 20%;
                background: transparent;
            }
            #embedded-legend-button {
                background: rgba(0, 60, 136, 0.5);
                color: white;
                position: absolute;
                top: 12px;
                right: 12px;
                z-index: 800;             
            }
            #embedded-legend {
                position: absolute;
                max-width: 30%;
                min-width: 200px; 
                max-height: 80%;
                top: 42px;
                right: 13px;
                padding: 10px;
                background-color: white;
                border-radius: 5px;
                z-index: 800;             
            }
            .jspVerticalBar {
                right: 21px;
            }
            .olControlZoom {
                background: transparent !important;
            }
            .olControlZoomIn {
                padding: 1px !important;
            }
            .olControlZoomOut {
                padding: 1px !important;
            }
            .olControlAttribution {
                left: 10px !important;
                bottom: 5px !important;
            }
        </style>
        
        
    </head>
    
    <body style="margin: 0px; padding: 0px; height: 100%;">
        
        <div class="container-fluid" id="primary-content" style="height: 100%; padding: 0px">
            <div id="loading">
                <h2>Loading...</h2>
            </div>
            <div class="row-fluid" id="fullscreen" style="height: 100%; margin-top: 0px;">
                <!-- Map Panel -->
                <div id="map-panel" class="span12" style="height: 100%;">       
                
                    <div class="row-fluid" data-bind="visible: showMapPanel" style="height: 100%;">
                        <div class="span12" style="height: 100%;">
                            <div class="row-fluid" style="height: 100%;">
                                <div id="map-wrapper" style="height: 100%; border-radius: 0px;">
                                    <div id="map" style="height: 100%; border-radius: 0px;"></div>
                                    
                                    <!-- commenting out the following until a transparent background is generated for the marco logo -->
                                    <a data-bind="visible: showLogo, attr: { href: mapLinks.getPortalURL() }" target="_blank">
                                        <img class="btn" id="embedded-marco-logo" rel="tooltip" title="View these layers in the MARCO Marine Planner" src="{{MEDIA_URL}}marco/img/marco-logo-transparent.png"/>
                                    </a>
                                        
                                    <!-- Aggregated Attribution Overlay Test (might still be referenced within the js) -->
                                    <div id="aggregated-attribute-overlay-test" style="position: absolute; visibility: hidden; height: auto; width: auto">
                                        <div data-bind="foreach: attributeLayers()">
                                            <div data-bind="css: {display: $root.aggregatedAttributes()[featureAttributionName] ? 'block' : 'none'}">
                                              <h4 data-bind="text: featureAttributionName"></h4>
                                              <dl data-bind="foreach: { data: $root.aggregatedAttributes()[featureAttributionName], afterAdd:$root.updateMarker }">
                                                <dt>
                                                    <span data-bind="text: display"></span><span data-bind="visible: display && data ? true : data===0">:</span>
                                                    <span style="font-weight: normal" data-bind="text: data"></span>
                                                </dt>
                                              </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Aggregated Attribution Overlay -->
                                    <div data-bind="visible: showFeatureAttribution">
                                        <div id="aggregated-attribute-overlay" class="scrollpane" data-bind="visible: aggregatedAttributes, style: {width: aggregatedAttributesWidth}" style="display: none">
                                            <div id="aggregated-attribute-content" class="accordion">
                                                <div data-bind="foreach: attributeLayers()">
                                                    <div class="accordion-group">
                                                        <div data-bind="visible: $root.aggregatedAttributes()[featureAttributionName]">
                                                            <div class="accordion-heading" data-bind="click: toggleLayerAttribution">
                                                                <a class="accordion-toggle">
                                                                    <h4 data-bind="text: featureAttributionName"></h4>
                                                                </a>
                                                            </div>
                                                            <div class="accordion-body collapse in" data-bind="attr: { id: $root.convertToSlug(featureAttributionName) }" >
                                                                <div class="accordion-inner">
                                                                    <dl data-bind="foreach: { data: $root.aggregatedAttributes()[featureAttributionName], afterAdd:$root.updateMarker }">
                                                                        <dt>
                                                                            <!-- ko if: $data.hasOwnProperty("tab") --> 
                                                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 
                                                                            <!-- /ko -->
                                                                            <span data-bind="text: display"></span><span data-bind="visible: display && data ? true : data===0">:</span>
                                                                            <span style="font-weight: normal" data-bind="text: data"></span>
                                                                        </dt>
                                                                    </dl>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <span id="close-attribute-overlay" class="pull-right"><a href="#" style="position: absolute; top: 10px; right: 10px; opacity: .6;" class="btn btn-mini close" data-bind="click: closeAttribution"> x </a> </span>
                                        </div>
                                    </div>
                                                                    
                                    <!--Hide/Show Legends Button-->
                                    <a id="embedded-legend-button" class="btn" data-bind="click: toggleEmbeddedLegend, visible: activeLegendLayers().length > 0 && app.viewModel.showLegend()">
                                        <!--<i class="icon-list-ul icon-large"></i> -->
                                        <span>Legend</span>
                                        <span data-bind="visible: hasActiveLegends() > 0"> (<span data-bind="text: activeLegendLayers().length"></span>) </span>
                                    </a>
                                    
                                    <!-- Legend -->
                                    <div id="embedded-legend" data-bind="visible: showEmbeddedLegend()">
                                        <div id="embedded-legend-wrapper">
                                            <div id="embedded-legend-content">
                                                <div data-bind="foreach: activeLegendLayers">
                                                <!--<div data-bind="foreach: { data: activeLegendLayers, afterRender: updateScrollBars }">-->
                                                    <div style="padding-bottom: 10px;">
                                                        <span class="pagination-centered legend-title" data-bind="html: legendTitle ? legendTitle : name"></span>
                                                        <p style="margin: 0px -5px 3px; text-align: left;font-size: 12px;" data-bind="visible: legendSubTitle, html: legendSubTitle"></p>
                                                        <span data-bind="if: legend">
                                                            <div data-bind="if: legend['elements']">
                                                                <div data-bind="foreach: legend['elements']">
                                                                    <div>
                                                                        <img data-bind="attr: {src: swatch}" />
                                                                        <span data-bind="text: label" style="font-size: 11px; font-weight: bold;"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div data-bind="if: !legend['elements']">
                                                                <div data-bind="css: { 'in': legendVisibility }" style="padding-top: 5px;">
                                                                    <img data-bind="attr: { src: legend }" />
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Legend -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <span class="timestamp" data-bind="visible: mapTitle"><span data-bind="text: new Date().toString('M/d/yyyy HH:mm')"></span></span>
        </div>

        <!--/row-->
          
        <!--/.fluid-container-->

        
        <!--<link rel="stylesheet" type="text/css" href="http://www.transportparadise.co.uk/layerswitcher/layerswitcher.css" />
        <link rel="stylesheet" type="text/css" src="{{MEDIA_URL}}/marco-proto/assets/css/simplelayerswitcher.css" />-->
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/bootstrap/bootstrap.min.js"></script>  
        <!--
        <script src="{{MEDIA_URL}}/marco/assets/bootstrap/bootstrap-tooltip.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/bootstrap/bootstrap-popover.js"></script> -->
        <script src="{{MEDIA_URL}}/marco/assets/amplify.min.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.ba-bbq.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery-ui-1.9.1.custom.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/underscore/underscore-min.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/knockout/knockout-2.1.0.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/knockout/knockout-bindings.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/knockout/knockout.mapping-latest.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.pageguide.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/highcharts/highcharts.js" type="text/javascript"></script>
        <script src="{{MEDIA_URL}}/marco/assets/highcharts/highcharts-more.js" type="text/javascript"></script>
     <!-- <script src="http://maps.google.com/maps/api/js?v=3.5&amp;sensor=false"></script>-->
        <script src="http://maps.google.com/maps/api/js?v=3.6&amp;sensor=false"></script>
        <!--<script src="{{MEDIA_URL}}/marco-proto/assets/openlayers/OpenLayers.js"></script>
        <script src="{{MEDIA_URL}}/marco-proto/assets/js/scalebar.js"></script>
        <script src="{{MEDIA_URL}}/marco-proto/assets/js/simplelayerswitcher.js"></script>-->
        <script src="{{MEDIA_URL}}/marco/assets/openlayers/OpenLayers-marco-min.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/bigscreen.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.ui.touch-punch.min.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.jscrollpane.min.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/date.js"></script>


        <script src="{{MEDIA_URL}}/marco/js/fixtures.js"></script>
        <script src="{{MEDIA_URL}}/marco/js/map.js"></script>
        <script src="{{MEDIA_URL}}/marco/js/state.js"></script>
        <script src="{{MEDIA_URL}}/marco/js/models.js"></script>
        <script src="{{MEDIA_URL}}/marco/js/server.js"></script>
        <script src="{{MEDIA_URL}}/marco/js/printing.js"></script>
        <script src="{{MEDIA_URL}}/marco/js/app.js"></script>
        <script src="{{MEDIA_URL}}/marco/js/pageguide.js"></script>

        <!--[if gt IE 8]><!-->
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.mousewheel.min.js"></script>
        <!--<![endif]-->

        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.mCustomScrollbar.js"></script>
        
        <script type="text/javascript">
            $('#fullscreen').on('click', function() {
                setTimeout(function() { 
                    if ( $('#aggregated-attribute-overlay').is(":visible") ) {
                        app.viewModel.hideMapAttribution(); 
                    } else {
                        app.viewModel.showMapAttribution(); 
                    }
                }, 500);
            });
            
            $(document).ready( function() {
                app.map.getLayersByName('ESRI Ocean')[0]['attribution'] = "Basemap Attribution";
                $('.olControlAttribution').text("Basemap Attribution");
                $('.olControlAttribution').width("112px");
                $('.olControlAttribution').attr('rel',"tooltip");
                //$('.olControlAttribution').attr('title',"The Ocean Basemap was created with data from the General Bathymetric Chart of the Oceans (GEBCO), IHO-IOC GEBCO Gazetteer of Undersea Feature Names, NOAA, Seafloor Mapping Lab of the California State University Monterey Bay, National Geographic, DeLorme, and Esri.");
                $('.olControlAttribution').attr('title',"The ESRI Ocean Basemap was was built using data provided by ESRI, GEBCO, NOAA, Canadian Hydrographic Service (CHS), California State University at Monterey Bay (CSUMB), National Geographic, DeLorme, and NAVTEQ.");
            });
            
            $(function () { 
                //$("#test-popover").popover({trigger: 'hover'});  
                $(".olControlAttribution").tooltip({trigger: 'hover'}); 
                $("#embedded-marco-logo").tooltip({trigger: 'hover'});
            });  
        
        </script>
        
        <script type="text/javascript">
            app.embeddedMap = true;
        </script>
        
    </body>

</html>