<!DOCTYPE html>
<html>
  <head>
    
        <meta charset="utf-8">
        <title>
            MARCO Planning Tool
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
  
        <!-- FROM RATCHET -->
        <!-- Sets initial viewport load and disables zooming  -->
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">        
        <!-- Include the compiled Ratchet CSS -->
        <link rel="stylesheet" href="{{MEDIA_URL}}/marco/assets/ratchet/ratchet.css">
        <!-- END RATCHET -->
        
        
        <!-- Le styles -->
        <link href="{{MEDIA_URL}}/marco/assets/bootstrap/bootstrap.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/assets/font/font-awesome.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/css/marco_style.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/assets/scalebar-thin.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/css/style.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/assets/jquery/pageguide.css" rel="stylesheet">

        <link href="{{MEDIA_URL}}/marco/assets/jquery/smoothness/jquery-ui-1.9.1.custom.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/assets/jquery/jquery.mCustomScrollbar.css" rel="stylesheet">
        <link href="{{MEDIA_URL}}/marco/assets/jquery/jquery.jscrollpane.css" rel="stylesheet">
        <!--<link href="{{MEDIA_URL}}/marco-proto/assets/css/jScrollPane.css" rel="stylesheet">-->
        <!--<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/base/jquery-ui.css"
        type="text/css" media="all" />-->
        <link rel="shortcut icon" href="{{MEDIA_URL}}marco/ico/favicon.ico">

        <style>
        .navbar .nav > li:hover > a, .navbar .nav > li.active > a, .navbar .nav > li:hover > a:visited {
            height: 30px;
           
        }
        .navbar .nav > li > a {
            height: 25px;
        }

        </style>
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{MEDIA_URL}}/marco/assets/bootstrap/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{MEDIA_URL}}/marco/assets/bootstrap/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{MEDIA_URL}}/marco/assets/bootstrap/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="{{MEDIA_URL}}/marco/assets/bootstrap/ico/apple-touch-icon-57-precomposed.png">
        
        <!-- MORE RATCHET -->
        <!-- Include the compiled Ratchet JS -->
        <script src="{{MEDIA_URL}}/marco/assets/ratchet/ratchet.js"></script>

        <!-- Intro paragraph styles. Delete once you start using this page -->
        <style type="text/css">
            .welcome {
              line-height: 1.5;
              color: #555;
            }
        </style>
        <!-- END RATCHET -->
        
        
        <!-- Google Analytics -->
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35841423-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        
        <style type="text/css">
            
            #aggregated-attribute-overlay {
                position: absolute;
                /*border-radius: 4px; can't tell if I want this or not...*/
                bottom: 0;
                left: 0;
                top: auto;
                height: 130px;
                min-width: 100%;
                max-width: 100%;
                z-index: 950; 
                /*overflow-x: hidden;
                overflow-y: auto;*/
                /*overflow: auto;*/
                font-size: 12px;
                /* RGBa with 0.6 opacity */
                background-color: rgba(60, 110, 160, 0.65);
                /* For IE 5.5 - 7*/
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998);
                /* For IE 8*/
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb2d8998, endColorstr=#bb2d8998)";
            }
            #aggregated-attribute-content {
                height: 110px;
            }
            #aggregated-attribute-content .mCustomScrollBox {
                height: 110px;
            }
            #aggregated-attribute-content .mCSB_scrollTools {
                height: 80px;
            }
            .olControlScaleBarWrapper {
                display: none;
            }
            div.olControlZoom a {
                width: 26px !important;
                height: 26px !important;
                font-size: 20px !important;
            }
            #embedded-marco-logo {
                margin-left: 25px;
                margin-bottom: 17px;
                width: 133px;
            }
        </style>

    </head>
    
    
    <body style="margin: 0px; padding: 0px; height: 100%;">
    

        <!-- Make sure all your bars are the first things in your <body> -->
        <header class="bar-title" style="padding-bottom: 0px">
            <a id="mobile-data-button" class="button pull-left" style="position: absolute">
                Data
                <span class="count" data-bind="text: activeLayers().length"></span>
            </a>
            <a id="mobile-map-left-button" class="button pull-left" style="display: none; position: absolute">
                Map
            </a>
            <h1 class="title">
                <img id="embedded-marco-logo" src="{{MEDIA_URL}}marco/img/marco-logo-transparent-short.png"/>
            </h1>
            <a id="mobile-legend-button" class="button pull-right">
                Legend
                <span class="count" data-bind="text: activeLegendLayers().length"></span>
            </a>
            <a id="mobile-map-right-button" class="button pull-right" style="display: none">
                Map
            </a>
            <a id="mobile-data-right-button" class="button pull-right" style="display: none">
                Data
                <span class="count" data-bind="text: activeLayers().length"></span>
            </a>
        </header>

        <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
        <div class="content" style="overflow: hidden;">
            <!--
            <div id="loading" style="height: 100%; top: 44px;">
                <h2>Loading...</h2>
            </div>
            -->
            <div id="myCarousel" class="carousel slide" style="height: 100%;">
                <!-- Carousel items -->
                <div class="carousel-inner" style="height: 100%; overflow: hidden;">
                    
                    <!-- SUBLAYER MENU PANEL -->
                    <div class="item" style="height: 100%; overflow: auto;">
                        {% include "mobile-sublayer-menu.html" %}
                    </div>
                    
                    <!-- DATA PANEL -->
                    <div class="item" style="height: 100%; overflow: hidden;">
                        {% include "mobile-data.html" %}
                    </div>
                
                    <!-- MAP PANEL -->
                    <div class="active item" style="height: 100%; overflow: hidden;">
                        <div id="fullscreen" style="height: 100%; overflow: hidden;">
                            <!-- Map Panel -->
                            <div id="map-panel" class="span12" style="height: 100%; width: 100%; margin-left: 0px;">       
                            
                                <div class="row-fluid" data-bind="visible: showMapPanel" style="height: 100%;">
                                    <div class="span12" style="height: 100%;">
                                        <div class="row-fluid" style="height: 100%;">
                                            <div id="map-wrapper" style="height: 100%; border-radius: 0px;">
                                                
                                                <div id="map" style="height: 100%; border-radius: 0px;"></div>
                                                
                                                <div id="aggregated-attribute-overlay-test" style="position: absolute; visibility: hidden; height: auto; width: auto">
                                                    <div data-bind="foreach: attributeLayers()">
                                                        <div data-bind="css: {display: $root.aggregatedAttributes()[featureAttributionName] ? 'block' : 'none'}">
                                                          <h4 data-bind="text: featureAttributionName"></h4>
                                                          <dl data-bind="foreach: { data: $root.aggregatedAttributes()[featureAttributionName], afterAdd:$root.updateMarker }">
                                                            <dt>
                                                                <span data-bind="text: display"></span><span data-bind="visible: display && data ? true : data===0">:</span>
                                                                <span style="font-weight: normal" data-bind="text: data"></span>
                                                            </dt>
                                                          </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Aggregated Attribution Overlay -->
                                                <div data-bind="visible: showFeatureAttribution">
                                                    <div id="aggregated-attribute-overlay" class="scrollpane" data-bind="visible: aggregatedAttributes, style: {width: aggregatedAttributesWidth}" style="display: none">
                                                        <div id="aggregated-attribute-content" class="accordion">
                                                            <div data-bind="foreach: attributeLayers()">
                                                                <div class="accordion-group">
                                                                    <div data-bind="visible: $root.aggregatedAttributes()[featureAttributionName]">
                                                                        <div class="accordion-heading" data-bind="click: toggleLayerAttribution">
                                                                            <a class="accordion-toggle">
                                                                                <h4 data-bind="text: featureAttributionName"></h4>
                                                                            </a>
                                                                        </div>
                                                                        <div class="accordion-body collapse in" style="background-color: inherit; width: 95%; color: white;" data-bind="attr: { id: $root.convertToSlug(name) }" >
                                                                            <div class="accordion-inner" style="border-left: 0px; margin-left: 1px;">
                                                                                <dl data-bind="foreach: { data: $root.aggregatedAttributes()[featureAttributionName], afterAdd:$root.updateMarker }">
                                                                                    <dt>
                                                                                        <!-- ko if: $data.hasOwnProperty("tab") --> 
                                                                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 
                                                                                        <!-- /ko -->
                                                                                        <span data-bind="text: display"></span><span data-bind="visible: display && data ? true : data===0">:</span>
                                                                                        <span style="font-weight: normal" data-bind="text: data"></span>
                                                                                    </dt>
                                                                                </dl>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span id="close-attribute-overlay" class="pull-right"><a href="#" style="position: absolute; top: 10px; right: 10px; opacity: .6;" class="btn btn-mini close" data-bind="click: closeAttribution"> x </a> </span>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                    
                    <!-- LEGEND PANEL -->
                    <div class="item" style="height: 100%; overflow: hidden;">
                        {% include "mobile-legend.html" %}
                    </div>
                
                </div>
            </div>
            <span class="timestamp" data-bind="visible: mapTitle"><span data-bind="text: new Date().toString('M/d/yyyy HH:mm')"></span></span>
        </div>

        <!--/row-->
          
        <!--/.fluid-container-->

        
        <!--<link rel="stylesheet" type="text/css" href="http://www.transportparadise.co.uk/layerswitcher/layerswitcher.css" />
        <link rel="stylesheet" type="text/css" src="{{MEDIA_URL}}/marco-proto/assets/css/simplelayerswitcher.css" />-->
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/bootstrap/bootstrap.min.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/amplify.min.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.ba-bbq.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery-ui-1.9.1.custom.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/underscore/underscore-min.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/knockout/knockout-2.1.0.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/knockout/knockout-bindings.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/knockout/knockout.mapping-latest.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.pageguide.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/highcharts/highcharts.js" type="text/javascript"></script>
        <script src="{{MEDIA_URL}}/marco/assets/highcharts/highcharts-more.js" type="text/javascript"></script>
     <!-- <script src="http://maps.google.com/maps/api/js?v=3.5&amp;sensor=false"></script>-->
        <script src="http://maps.google.com/maps/api/js?v=3.6&amp;sensor=false"></script>
        <!--<script src="{{MEDIA_URL}}/marco-proto/assets/openlayers/OpenLayers.js"></script>
        <script src="{{MEDIA_URL}}/marco-proto/assets/js/scalebar.js"></script>
        <script src="{{MEDIA_URL}}/marco-proto/assets/js/simplelayerswitcher.js"></script>-->
        <script src="{{MEDIA_URL}}/marco/assets/openlayers/OpenLayers-marco-min.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/bigscreen.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.ui.touch-punch.min.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.jscrollpane.min.js"></script>
        <script src="{{MEDIA_URL}}/marco/assets/date.js"></script>


        <script src="{{MEDIA_URL}}/marco/js/fixtures.js"></script>
        <script src="{{MEDIA_URL}}/marco/js/map.js"></script>
        <script src="{{MEDIA_URL}}/marco/js/state.js"></script>
        <script src="{{MEDIA_URL}}/marco/js/models.js"></script>
        <script src="{{MEDIA_URL}}/marco/js/server.js"></script>
        <script src="{{MEDIA_URL}}/marco/js/printing.js"></script>
        <script src="{{MEDIA_URL}}/marco/js/app.js"></script>
        <script src="{{MEDIA_URL}}/marco/js/pageguide.js"></script>
        <!--<script src="http://debug.phonegap.com/target/target-script-min.js#sfletche"></script>-->

        <!--[if gt IE 8]><!-->
        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.mousewheel.min.js"></script>
        <!--<![endif]-->

        <script src="{{MEDIA_URL}}/marco/assets/jquery/jquery.mCustomScrollbar.js"></script>
        
        <script type="text/javascript">
            $('#fullscreen').on('click', function() {
                setTimeout(function() { 
                    if ( $('#aggregated-attribute-overlay').is(":visible") ) {
                        app.viewModel.hideMapAttribution(); 
                    } else {
                        app.viewModel.showMapAttribution(); 
                    }
                }, 500);
            });
            
            $('.carousel').carousel({interval: false});
        
        </script>
        
        <script type="text/javascript">
            app.embeddedMap = true;
            $('#mobile-map-button').hide();
        </script>
        
        <script type="text/javascript">
            
            $('#mobile-data-button').click( function() {
                $('.carousel').carousel('prev');
                var api = $("#data-accordion").jScrollPane({}).data('jsp');
                if ( api ) {
                    api.destroy();
                }
                $('#mobile-data-button').hide();
                $('#mobile-legend-button').hide();
                $('#mobile-map-right-button').show();
            });
                        
            $('#mobile-legend-button').click( function() {
                $('.carousel').carousel('next');
                var api = $("#legend-wrapper").jScrollPane({}).data('jsp');
                if ( api ) {
                    api.destroy();
                }
                $('#mobile-data-button').hide();
                $('#mobile-legend-button').hide();
                $('#mobile-map-left-button').show();
            });
                    
            $('#mobile-map-left-button').click( function() {
                $('.carousel').carousel('prev');
                $('#mobile-data-button').show();
                $('#mobile-legend-button').show();
                $('#mobile-map-left-button').hide();
            });
         
            $('#mobile-map-right-button').click( function() {
                $('.carousel').carousel('next');
                $('#mobile-data-button').show();
                $('#mobile-legend-button').show();
                $('#mobile-map-right-button').hide();
            });
            
            $('#mobile-data-right-button').click( function() {
                $('.carousel').carousel('next');
                $('#mobile-data-right-button').hide();
                $('#mobile-map-right-button').show();
            });
            
        
        </script>
    

    </body>
</html>