{% load in_group %}
<div class="tab-pane " id="designs" data-tab="designs">
    <div id="designs-slide">
        <!-- Create New Design dropdown menu -->
        <div class="row-fluid">
            <div class="alert alert-success"
                 data-bind="visible: app.viewModel.scenarios.loadingMessage">
                <strong>Creating!</strong> <span
                    data-bind="text: app.viewModel.scenarios.loadingMessage"></span>

                <div class="progress progress-striped active">
                    <div class="bar" style="width: 0%"></div>
                </div>
            </div>
            <div class="alert alert-error"
                 data-bind="visible: app.viewModel.scenarios.errorMessage">
                <strong>Error!</strong> <span
                    data-bind="text: app.viewModel.scenarios.errorMessage"></span>

                <div>
                    <button class="btn pull-right"
                            data-bind="click: app.viewModel.scenarios.reset">Try
                        Again
                    </button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="form-container"
             data-bind="visible: ! (app.viewModel.scenarios.loadingMessage() || app.viewModel.scenarios.errorMessage())">
            <div id="designs-data"
                 data-bind="visible: app.viewModel.scenarios.showMyPlanner()">
                <div id="design-list" class="row-fluid">
                    <div id="designs-accordion" class="designs">
                        <div class="accordion">
                            <!-- Map View Bookmarks -->
                            <div>
                                <div class="accordion-group">
                                    <div id="bookmarks-header"
                                         class="accordion-heading"
                                         data-bind="css: {'active': app.viewModel.isBookmarksOpen()}">
                                        <div>
                                            <a class="accordion-toggle"
                                               data-bind="click: app.viewModel.toggleBookmarksOpen">
                                                <span>Map View Bookmarks</span>
                                            </a>
                                            <a class="create-new-button"
                                               data-bind="click: app.viewModel.showBookmarks,clickBubble: false">
                                                <i class="fa fa-plus"></i>NEW
                                            </a>
                                        </div>
                                    </div>
                                    <div class="accordion-body collapse"
                                         data-bind="css: {'in': app.viewModel.isBookmarksOpen()}">
                                        <div class="accordion-inner"
                                             data-bind="with: app.viewModel.bookmarks">
                                            <div data-bind="visible: !bookmarksList().length"
                                                 style="font-weight: normal">
                                                <div style="padding: 10px;">
                                                    <p>
                                                        You currently have no
                                                        map view bookmarks.
                                                    </p>

                                                    <p>
                                                        To create a new
                                                        bookmark,
                                                        click on the <span
                                                            class="create-new-button"><i
                                                            class="fa fa-plus"></i>NEW</span>
                                                        button above.
                                                    </p>

                                                    <p>
                                                        Note: you may, at any
                                                        time,
                                                        edit, share, or remove
                                                        any
                                                        of the bookmarks that
                                                        you
                                                        have created.
                                                        Any bookmarks shared
                                                        with
                                                        you can also be copied
                                                        so
                                                        that they too can be
                                                        edited,
                                                        shared, or removed.
                                                    </p>

                                                </div>
                                            </div>
                                            <div data-bind="visible: bookmarksList().length > 0">
                                                <ul class="unstyled list"
                                                    data-bind="foreach: bookmarksList ">
                                                    <li class="layer">
                                                        <table class="layer-row">
                                                            <tr>
                                                                <td></td>
                                                                <td class="layer-name">
                                                                    <a class="btn btn-layer">
                                                                        <table>
                                                                            <tr>
                                                                                <td class="text">
                                                                                    <a data-bind="attr: {title: sharedBy}, visible: shared()"
                                                                                       style="text-decoration: none; cursor: default;"
                                                                                       data-toggle="tooltip"
                                                                                       data-placement="right">
                                                                                        <i class="fa fa-user"></i>
                                                                                    </a>
                                                                                    <a data-bind="attr: {title: 'Shared with ' + selectedGroups().join(', ')}, visible: selectedGroups().length > 0"
                                                                                       style="text-decoration: none; cursor: default;"
                                                                                       data-toggle="tooltip"
                                                                                       data-placement="right">
                                                                                        <i class="fa fa-group"></i>
                                                                                    </a>

                                                                                <span data-bind="click: loadBookmark">
                                                                                    <a data-bind="text: name, attr: {href: getBookmarkUrl}"></a>
                                                                                </span>
                                                                                </td>
                                                                                <td class="add-on"></td>

                                                                            </tr>
                                                                        </table>
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <a class="btn"
                                                                       data-bind="visible: !shared(), click: app.menuModel.menu('bookmark')"><i
                                                                            class="fa fa-cog"></i></a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- DRAWINGS -->
                        <div data-bind="with: app.viewModel.scenarios">
                            <div class="accordion-group">
                                <div class="collections-header">
                                    <div id="drawings-header"
                                         class="accordion-heading"
                                         data-bind="click: toggleDrawingsOpen, css: { 'active': isDrawingsOpen() }">
                                        <div>
                                            <a class="accordion-toggle">
                                                <!--<span>Sketches of the Sea</span>-->
                                                <span>Drawings</span>
                                            </a>
                                            <a class="create-new-button"
                                               data-bind="click: createPolygonDesign, clickBubble: false">
                                                <i class="fa fa-plus"></i>NEW
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-body collapse"
                                     data-bind="css: { 'in': isDrawingsOpen() }">
                                    <div class="accordion-inner">

                                        <div data-bind="visible: !drawingList().length"
                                             style="font-weight: normal">
                                            <div style="padding: 10px;">
                                                <p>
                                                    You currently have no
                                                    drawings.
                                                </p>

                                                <p>
                                                    To create a new drawing,
                                                    click on the <span
                                                        class="create-new-button"><i
                                                        class="fa fa-plus"></i>NEW</span>
                                                    button above.
                                                </p>

                                                <p>
                                                    Note: You may, at any time,
                                                    edit, share, or remove any
                                                    of the drawings that you
                                                    have created.
                                                    Any drawings shared with you
                                                    can be copied so that they
                                                    too can be edited, shared,
                                                    or removed.
                                                </p>
                                            </div>
                                        </div>

                                        <ul class="unstyled list"
                                            data-bind="foreach: drawingList ">
                                            <li class="layer">
                                                <table class="layer-row">
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-info-sign"
                                                               data-bind="click: toggleDescription, css: { 'active': infoActive()}"
                                                               data-toggle="tooltip"
                                                               data-placement="right"
                                                               data-title="More Info">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a>
                                                        </td>
                                                        <td class="layer-name">
                                                            <a class="btn btn-layer"
                                                               data-bind='click: toggleActive'>
                                                                <table>
                                                                    <tr>
                                                                        <td class="text">
                                                                        <span rel="tooltip"
                                                                              data-bind="visible: shared, attr: {title: sharedBy}">
                                                                            <i class="fa fa-user"></i>
                                                                        </span>
                                                                        <span rel="tooltip"
                                                                              data-bind="visible: selectedGroups().length, attr: {title: sharedWith}">
                                                                            <i class="fa fa-group"></i>
                                                                        </span>
                                                                            <span data-bind='text: name'></span>
                                                                        </td>
                                                                        <td class="add-on">
                                                                            <i class="fa fa-check-circle"
                                                                               data-bind="css: { 'fa-check-circle': active() && visible(), 'fa-circle-o': !(active() && visible()) }"></i>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn"
                                                               data-bind="visible: shared(), click: app.menuModel.menu('sharedDrawing')"><i
                                                                    class="fa fa-cog"></i></a>
                                                            <a class="btn"
                                                               data-bind="visible: !shared(), click: app.menuModel.menu('drawing')"><i
                                                                    class="fa fa-cog"></i></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div class="layer-info"
                                                     data-bind="visible: infoActive()">
                                                    <div class="link-bar"
                                                         data-bind="if: $data.hasOwnProperty('kml') || $data.hasOwnProperty('data_download') || $data.hasOwnProperty('metadata') || $data.hasOwnProperty('source') || $data.hasOwnProperty('tiles')">
                                                        <span data-toggle="tooltip"
                                                              data-placement="bottom"
                                                              data-container="body"
                                                              title="Download for Google Maps">
                                                            <!-- ko if: $data.hasOwnProperty("kml") -->
                                                            <a class="btn btn-mini"
                                                               data-bind="css: { disabled: ! kml }, attr: { href: kml }"
                                                               target="_blank">
                                                                kml <i
                                                                    class="fa fa-arrow-down"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.hasOwnProperty("kml") -->
                                                            <a class="btn btn-mini disabled">
                                                                kml <i
                                                                    class="fa fa-arrow-down"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                        </span>
                                                        <span data-toggle="tooltip"
                                                              data-placement="bottom"
                                                              data-container="body"
                                                              data-title="Download ESRI Formatted Dataset">
                                                            <!-- ko if: $data.hasOwnProperty("data_download") -->
                                                            <a class="btn btn-mini"
                                                               data-bind="css: { disabled: ! data_download }, attr: { href: data_download }"
                                                               target="_blank">
                                                                data <i
                                                                    class="fa fa-arrow-down"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.hasOwnProperty("data_download") -->
                                                            <a class="btn btn-mini disabled">
                                                                data <i
                                                                    class="fa fa-arrow-down"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                        </span>
                                                        <span data-toggle="tooltip"
                                                              data-placement="bottom"
                                                              data-container="body"
                                                              data-title="View Metadata">
                                                            <!-- ko if: $data.hasOwnProperty("metadata") -->
                                                            <a class="btn btn-mini"
                                                               data-bind="css: { disabled: ! metadata }, attr: { href: metadata }"
                                                               target="_blank">
                                                                metadata <i
                                                                    class="fa fa-external-link-square"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.hasOwnProperty("metadata") -->
                                                            <a class="btn btn-mini disabled">
                                                                metadata <i
                                                                    class="fa fa-external-link-square"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                        </span>
                                                        <span data-toggle="tooltip"
                                                              data-placement="bottom"
                                                              data-container="body"
                                                              data-title="Link to Dataset Source Provider">
                                                            <!-- ko if: $data.hasOwnProperty("source") -->
                                                            <a class="btn btn-mini"
                                                               data-bind="css: { disabled: ! source }, attr: { href: source }"
                                                               target="_blank">
                                                                source <i
                                                                    class="fa fa-external-link-square"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.hasOwnProperty("source") -->
                                                            <a class="btn btn-mini disabled">
                                                                source <i
                                                                    class="fa fa-external-link-square"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                        </span>
                                                        <span data-toggle="tooltip"
                                                              data-placement="bottom"
                                                              data-container="body"
                                                              data-title="Link to Tiles Page">
                                                            <!-- ko if: $data.hasOwnProperty("tiles") -->
                                                            <a class="btn btn-mini"
                                                               data-bind="css: { disabled: ! tiles }, attr: { href: tiles }"
                                                               target="_blank">
                                                                tiles <i
                                                                    class="fa fa-external-link-square"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.hasOwnProperty("tiles") -->
                                                            <a class="btn btn-mini disabled">
                                                                tiles <i
                                                                    class="fa fa-external-link-square"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                        </span>
                                                    </div>
                                                    <div class="layer-text">
                                                        <span data-bind="truncatedText: overview, maxTextLength: 100"></span>
                                                        <!-- ko if: $data.data_url -->
                                                        <a data-bind="attr: {href: $data.data_url}">read
                                                            more</a>.
                                                        <!-- /ko -->
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end drawings -->

                        <!-- LEASE BLOCK COLLECTIONS -->
                        <div data-bind="with: app.viewModel.scenarios">
                            <div class="accordion-group">
                                <div class="collections-header">
                                    <div id="lease-block-collections-header"
                                         class="accordion-heading"
                                         data-bind="click: toggleCollectionsOpen, css: { 'active': isCollectionsOpen() }">
                                        <div>
                                            <a class="accordion-toggle">
                                                <span>Lease Block Collections</span>
                                            </a>
                                            <a class="create-new-button"
                                               data-bind="click: app.viewModel.scenarios.createSelectionDesign, clickBubble: false">
                                                <i class="fa fa-plus"></i>NEW
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-body collapse"
                                     data-bind="css: { 'in': isCollectionsOpen() }">

                                    <div class="accordion-inner">
                                        <div data-bind="visible: !selectionList().length"
                                             style="font-weight: normal">
                                            <div style="padding: 10px;">
                                                <p>
                                                    You currently have no lease
                                                    block collections.
                                                </p>

                                                <p>
                                                    To create a new lease block
                                                    collection,
                                                    click on the <span
                                                        class="create-new-button"><i
                                                        class="fa fa-plus"></i>NEW</span>
                                                    button above.
                                                </p>

                                                <p>
                                                    Note: You may, at any time,
                                                    edit, share, or remove any
                                                    of the collections that you
                                                    have created.
                                                    Any collections shared with
                                                    you can be copied so that
                                                    they too can be edited,
                                                    shared, or removed.
                                                </p>
                                            </div>
                                        </div>

                                        <ul class="unstyled list"
                                            data-bind="foreach: selectionList ">
                                            <li class="layer">
                                                <table class="layer-row">
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-info-sign"
                                                               data-bind="click: toggleDescription, css: { 'active': infoActive()}"
                                                               data-toggle="tooltip"
                                                               data-placement="right"
                                                               data-title="More Info">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a>
                                                        </td>
                                                        <td class="layer-name">
                                                            <a class="btn btn-layer"
                                                               data-bind='click: toggleActive'>
                                                                <table>
                                                                    <tr>
                                                                        <td class="text">
                                                                        <span rel="tooltip"
                                                                              data-bind="visible: shared, attr: {title: sharedBy}">
                                                                            <i class="fa fa-user"></i>
                                                                        </span>
                                                                        <span rel="tooltip"
                                                                              data-bind="visible: selectedGroups().length, attr: {title: sharedWith}">
                                                                            <i class="fa fa-group"></i>
                                                                        </span>
                                                                            <span data-bind='text: name'></span>
                                                                        </td>
                                                                        <td class="add-on">
                                                                            <i class="fa fa-check-circle"
                                                                               data-bind="css: { 'fa-check-circle': active() && visible(), 'fa-circle-o': !(active() && visible()) }"></i>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn"
                                                               data-bind="visible: shared(), click: app.menuModel.menu('sharedLeaseBlockCollection')"><i
                                                                    class="fa fa-cog"></i></a>
                                                            <a class="btn"
                                                               data-bind="visible: !shared(), click: app.menuModel.menu('leaseBlockCollection')"><i
                                                                    class="fa fa-cog"></i></a>
                                                        </td>

                                                    </tr>
                                                </table>
                                                <div class="layer-info"
                                                     data-bind="visible: infoActive()">
                                                    <div class="link-bar"
                                                         data-bind="if: $data.hasOwnProperty('kml') || $data.hasOwnProperty('data_download') || $data.hasOwnProperty('metadata') || $data.hasOwnProperty('source') || $data.hasOwnProperty('tiles')">
                                                        <span data-toggle="tooltip" data-placement="bottom"
                                                              data-container="body" title="Download for Google Maps">
                                                            <!-- ko if: $data.hasOwnProperty("kml") -->
                                                            <a class="btn btn-mini"
                                                               data-bind="css: { disabled: ! kml }, attr: { href: kml }"
                                                               target="_blank">
                                                                kml <i class="fa fa-arrow-down"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.hasOwnProperty("kml") -->
                                                            <a class="btn btn-mini disabled">
                                                                kml <i class="fa fa-arrow-down"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                        </span>
                                                        <span data-toggle="tooltip" data-placement="bottom"
                                                              data-container="body"
                                                              data-title="Download ESRI Formatted Dataset">
                                                            <!-- ko if: $data.hasOwnProperty("data_download") -->
                                                            <a class="btn btn-mini"
                                                               data-bind="css: { disabled: ! data_download }, attr: { href: data_download }"
                                                               target="_blank">
                                                                data <i class="fa fa-arrow-down"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.hasOwnProperty("data_download") -->
                                                            <a class="btn btn-mini disabled">
                                                                data <i class="fa fa-arrow-down"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                        </span>
                                                        <span data-toggle="tooltip" data-placement="bottom"
                                                              data-container="body" data-title="View Metadata">
                                                            <!-- ko if: $data.hasOwnProperty("metadata") -->
                                                            <a class="btn btn-mini"
                                                               data-bind="css: { disabled: ! metadata }, attr: { href: metadata }"
                                                               target="_blank">
                                                                metadata <i class="fa fa-external-link-square"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.hasOwnProperty("metadata") -->
                                                            <a class="btn btn-mini disabled">
                                                                metadata <i class="fa fa-external-link-square"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                        </span>
                                                        <span data-toggle="tooltip" data-placement="bottom"
                                                              data-container="body"
                                                              data-title="Link to Dataset Source Provider">
                                                            <!-- ko if: $data.hasOwnProperty("source") -->
                                                            <a class="btn btn-mini"
                                                               data-bind="css: { disabled: ! source }, attr: { href: source }"
                                                               target="_blank">
                                                                source <i class="fa fa-external-link-square"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.hasOwnProperty("source") -->
                                                            <a class="btn btn-mini disabled">
                                                                source <i class="fa fa-external-link-square"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                        </span>
                                                        <span data-toggle="tooltip" data-placement="bottom"
                                                              data-container="body" data-title="Link to Tiles Page">
                                                            <!-- ko if: $data.hasOwnProperty("tiles") -->
                                                            <a class="btn btn-mini"
                                                               data-bind="css: { disabled: ! tiles }, attr: { href: tiles }"
                                                               target="_blank">
                                                                tiles <i class="fa fa-external-link-square"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.hasOwnProperty("tiles") -->
                                                            <a class="btn btn-mini disabled">
                                                                tiles <i class="fa fa-external-link-square"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                        </span>
                                                    </div>
                                                    <div class="layer-text">
                                                        <span data-bind="truncatedText: overview, maxTextLength: 100"></span>
                                                        <!-- ko if: $data.data_url -->
                                                        <a data-bind="attr: {href: $data.data_url}">read
                                                            more</a>.
                                                        <!-- /ko -->
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div id="view-reports-button"
                                             class="btn btn-primary btn-sm"
                                             data-bind="click: app.viewModel.scenarios.showComparisonReports"
                                             style="margin: -8px auto 1em 50px">
                                            View Reports
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end collections -->

                        <!-- WIND ENERGY SITINGS -->
                        {% if user|in_group:"Designers" %}
                        <div data-bind="with: app.viewModel.scenarios">
                            <div class="accordion-group">
                                <div class="accordion-heading"
                                     data-bind="click: toggleScenariosOpen, css: { 'active': isScenariosOpen() }">
                                    <a class="accordion-toggle">
                                        <span>Wind Energy Sitings</span>
                                    </a>
                                    <a class="create-new-button"
                                       data-bind="click: app.viewModel.scenarios.createWindScenario, clickBubble: false">
                                        <i class="fa fa-plus"></i>NEW
                                    </a>

                                </div>
                                <div class="accordion-body collapse"
                                     data-bind="css: { 'in': isScenariosOpen() }">
                                    <div class="accordion-inner">

                                        <div data-bind="visible: !scenarioList().length"
                                             style="font-weight: normal">
                                            <div style="padding: 10px;">
                                                <p>
                                                    You currently have no wind
                                                    energy sitings.
                                                </p>

                                                <p>
                                                    To create a new wind energy
                                                    siting, click on the
                                                    <span class="create-new-button"><i
                                                            class="fa fa-plus"></i>NEW</span>
                                                    button above.
                                                </p>

                                                <p>
                                                    Note: You may, at any time,
                                                    edit, share, or remove any
                                                    of the sitings that you have
                                                    created.
                                                    Any sitings shared with you
                                                    can be copied so that they
                                                    too can be edited, shared,
                                                    or removed.
                                                </p>
                                            </div>
                                        </div>

                                        <ul class="unstyled list"
                                            data-bind="foreach: scenarioList ">
                                            <li class="layer">
                                                <table class="layer-row">
                                                    <tr>
                                                        <td>
                                                            <a class="btn btn-info-sign"
                                                               data-bind="click: toggleDescription, css: { 'active': infoActive()}"
                                                               data-toggle="tooltip"
                                                               data-placement="right"
                                                               data-title="More Info">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a>
                                                        </td>
                                                        <td class="layer-name">
                                                            <a class="btn btn-layer"
                                                               data-bind='click: {% block "nameAction" %}toggleActive{% endblock %}'>
                                                                <table>
                                                                    <tr>
                                                                        <td class="text">
                                                                            <span rel="tooltip" data-bind="visible: shared, attr: {title: sharedBy}">
                                                                                <i class="fa fa-user"></i>
                                                                            </span>
                                                                            <span rel="tooltip"
                                                                                  data-bind="visible: selectedGroups().length, attr: {title: sharedWith}">
                                                                                <i class="fa fa-group"></i>
                                                                            </span>
                                                                            <span data-bind='text: name'></span>
                                                                        </td>
                                                                        <td class="add-on">
                                                                            <i class="fa fa-check-circle"
                                                                               data-bind="css: { 'fa-check-circle': active() && visible(), 'fa-circle-o': !(active() && visible()) }"></i>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn"
                                                               data-bind="visible: shared(), click: app.menuModel.menu('sharedWindEnergySiting')"><i
                                                                    class="fa fa-cog"></i></a>
                                                            <a class="btn"
                                                               data-bind="visible: !shared(), click: app.menuModel.menu('windEnergySiting')"><i
                                                                    class="fa fa-cog"></i></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div class="layer-info"
                                                     data-bind="visible: infoActive()">
                                                    <div class="link-bar"
                                                         data-bind="if: $data.hasOwnProperty('kml') || $data.hasOwnProperty('data_download') || $data.hasOwnProperty('metadata') || $data.hasOwnProperty('source') || $data.hasOwnProperty('tiles')">
                                                        <span data-toggle="tooltip" data-placement="bottom"
                                                              data-container="body" title="Download for Google Maps">
                                                            <!-- ko if: $data.hasOwnProperty("kml") -->
                                                            <a class="btn btn-mini"
                                                               data-bind="css: { disabled: ! kml }, attr: { href: kml }"
                                                               target="_blank">
                                                                kml <i
                                                                    class="fa fa-arrow-down"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.hasOwnProperty("kml") -->
                                                            <a class="btn btn-mini disabled">
                                                                kml <i
                                                                    class="fa fa-arrow-down"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                       </span>
                                                        <span data-toggle="tooltip" data-placement="bottom"
                                                              data-container="body"
                                                              data-title="Download ESRI Formatted Dataset">
                                                            <!-- ko if: $data.hasOwnProperty("data_download") -->
                                                            <a class="btn btn-mini"
                                                               data-bind="css: { disabled: ! data_download }, attr: { href: data_download }"
                                                               target="_blank">
                                                                data <i class="fa fa-arrow-down"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.hasOwnProperty("data_download") -->
                                                            <a class="btn btn-mini disabled">
                                                                data <i class="fa fa-arrow-down"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                        </span>
                                                        <span data-toggle="tooltip" data-placement="bottom"
                                                              data-container="body" data-title="View Metadata">
                                                            <!-- ko if: $data.hasOwnProperty("metadata") -->
                                                            <a class="btn btn-mini"
                                                               data-bind="css: { disabled: ! metadata }, attr: { href: metadata }"
                                                               target="_blank">
                                                                metadata <i class="fa fa-external-link-square"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.hasOwnProperty("metadata") -->
                                                            <a class="btn btn-mini disabled">
                                                                metadata <i class="fa fa-external-link-square"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                        </span>
                                                        <span data-toggle="tooltip" data-placement="bottom"
                                                              data-container="body"
                                                              data-title="Link to Dataset Source Provider">
                                                            <!-- ko if: $data.hasOwnProperty("source") -->
                                                            <a class="btn btn-mini"
                                                               data-bind="css: { disabled: ! source }, attr: { href: source }"
                                                               target="_blank">
                                                                source <i class="fa fa-external-link-square"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.hasOwnProperty("source") -->
                                                            <a class="btn btn-mini disabled">
                                                                source <i class="fa fa-external-link-square"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                        </span>
                                                        <span data-toggle="tooltip" data-placement="bottom"
                                                              data-container="body" data-title="Link to Tiles Page">
                                                            <!-- ko if: $data.hasOwnProperty("tiles") -->
                                                            <a class="btn btn-mini"
                                                               data-bind="css: { disabled: ! tiles }, attr: { href: tiles }"
                                                               target="_blank">
                                                                tiles <i class="fa fa-external-link-square"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                            <!-- ko ifnot: $data.hasOwnProperty("tiles") -->
                                                            <a class="btn btn-mini disabled">
                                                                tiles <i class="fa fa-external-link-square"></i>
                                                            </a>
                                                            <!-- /ko -->
                                                        </span>
                                                    </div>
                                                    <div class="layer-text">
                                                        <span data-bind="truncatedText: overview, maxTextLength: 100"></span>
                                                        <!-- ko if: $data.data_url -->
                                                        <a data-bind="attr: {href: $data.data_url}">read
                                                            more</a>.
                                                        <!-- /ko -->
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <!-- end wind sitings -->

                    </div>
                </div>
            </div>
        </div>

        <!-- designs dialogs -->
        <div class="designs-panel" data-bind="with: app.viewModel.scenarios">
            <div style="height: 100%"
                 data-bind="visible: app.viewModel.addBookmarksDialogVisible">
                <div class="design">
                    <div class="featurepanel">
                        <h4>Create Bookmark</h4>

                        <form id="addBookmarkForm" class=""
                              data-bind="submit: app.viewModel.addBookmark">
                            <div class="form-group">
                                <div class="step">
                                    <label>Bookmark Name:<br>
                                        <input id="new_bookmark_name"
                                               data-bind="value: app.viewModel.bookmarks.newBookmarkName"
                                               type="text"
                                               class="input form-control"
                                               placeholder="Bookmark Name"
                                               required>
                                    </label>
                                </div>
                            </div>

                            <div class="wizard_nav" style="width:100%">
                                <div class="btn-group pull-right">
                                    <button type="submit"
                                            class="btn btn-primary">Add Bookmark
                                    </button>
                                </div>
                            </div>

                            <div>
                                <div class="btn-group pull-left">
                                    <a href="#"
                                       data-bind="click: app.viewModel.hideBookmarks"
                                       class="cancel_button btn btn-default"><span>Cancel</span></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {% if user|in_group:"Designers" %}
            <div style="height: 100%" data-bind="visible: scenarioForm">
                <div id="scenario-form" class="design"></div>
            </div>
            {% endif %}

            <div style="height: 100%" data-bind="visible: selectionForm">
                <div id="selection-form" class="design"></div>
            </div>

            <div style="" data-bind="visible: drawingForm">
                <div id="drawing-form" class="design"></div>
            </div>

            <div style="height: 100%" data-bind="visible: reportsVisible">
                <div id="reports" class="design" data-bind="with: reports">
                    <div class="form-container">
                        <div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="btn pull-right"
                                         data-bind="click: app.viewModel.scenarios.returnToDesigns">
                                        Return to Designs
                                    </div>
                                    <div id="create-new-design"
                                         class="btn-group pull-left"
                                         style="padding-bottom: 10px;">
                                        <a id="comparison-reports-button"
                                           class="btn btn-primary dropdown-toggle"
                                           data-toggle="dropdown" href="#">
                                            Comparison Reports
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a data-bind="click: hideReport">Introduction</a>
                                            </li>
                                            <li>
                                                <a data-bind="click: showWindReport">Wind
                                                    Energy Potential</a></li>
                                            <li>
                                                <a data-bind="click: showSubstationReport">Distance
                                                    to Coastal Substations</a>
                                            </li>
                                            <li>
                                                <a data-bind="click: showAWCReport">Distance
                                                    to AWC Hubs</a></li>
                                            <li>
                                                <a data-bind="click: showShorelineReport">Distance
                                                    to Shore</a></li>
                                            <li>
                                                <a data-bind="click: showDepthReport">Depth
                                                    Range</a></li>
                                            <li>
                                                <a data-bind="click: showShippingReport">Distance
                                                    to Ship Routing Measures</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="reports-intro"
                             data-bind="visible: !showingReport()">
                            <p>Comparison Reports can be used to visually
                                compare your Lease Block Selections across
                                various measurable values.</p>
                        </div>
                        <div data-bind="visible: !showingReport() && !noActiveCollections()">
                            <p><b>Select a Comparison Report</b> from the menu
                                above.</p>
                        </div>
                        <div data-bind="visible: noActiveCollections()">
                            <p>Comparison Reports will provide a comparison of
                                all of your visible Lease Block Selections.</p>

                            <p id="comparison-report-flash-instructions">
                            <span data-bind="visible: $parent.selectionList().length==0">
                                You do not currently have any Lease Block Selections to compare.
                                Create Lease Block Selections through the Create New button on the Designs panel.
                            </span>
                            <span data-bind="visible: $parent.selectionList().length!=0">
                                You currently have no Lease Block Selections displayed on the map.
                                <b>Activate one or more Lease Block Selections
                                    before choosing a report.</b>
                            </span>
                            </p>
                        </div>
                        <div id="reports-container"
                             data-bind="visible: showingReport() && !noActiveCollections()"
                             style="max-width: 400px; height: 400px; margin: 0 auto; margin-left: -10px; margin-top: 20px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

