<table class="layer-row">
    <tr>
        <td>
            <a class="btn btn-info-sign" data-bind="click: toggleDescription, css: { 'active': infoActive()}" data-toggle="tooltip" data-placement="right" data-title="More Info">
                <i class="fa fa-info-circle"></i>
            </a>
        </td>
        <td class="layer-name">
            <a class="btn btn-layer" data-bind='click: {% block "nameAction" %}toggleActive{% endblock %}'>
              <table>
                <tr>
                  <td class="text">
                    {% block "text-pre" %}
                    {% endblock %}
                  <!-- ko if: hasOwnProperty('subLayers') && subLayers.length > 0 -->
                    <i class="fa deep-blue" data-bind="css: { 'fa-caret-down': showSublayers() , 'fa-caret-right': !showSublayers()  }"></i>
                  <!-- /ko -->
                  <span class="deep-blue uppercase" data-bind="text: name"></span>
                  </td>
                  <td class="add-on">
                    <i class="fa fa-check-circle"  data-bind="css: { 'fa-check-circle': active() && visible(), 'fa-circle-o': !(active() && visible()) }"></i>
                  </td>
                </tr>
              </table>
            </a>
        </td>
        {% block "controls" %}
        {% endblock %}
    </tr>
</table>
<div class="layer-info" data-bind="visible: infoActive()">
    <div class="link-bar" data-bind="if: $data.hasOwnProperty('kml') || $data.hasOwnProperty('data_download') || $data.hasOwnProperty('metadata') || $data.hasOwnProperty('source')">
        <span data-toggle="tooltip" data-placement="bottom" data-container="body" title="Download for Google Maps">
            <!-- ko if: $data.hasOwnProperty("kml") -->
            <a class="btn btn-mini" data-bind="css: { disabled: ! kml }, attr: { href: kml }" target="_blank">
                kml <i class="fa fa-arrow-down" ></i>
            </a>
            <!-- /ko -->
            <!-- ko ifnot: $data.hasOwnProperty("kml") -->
            <a class="btn btn-mini disabled">
                kml <i class="fa fa-arrow-down" ></i>
            </a>
            <!-- /ko -->
        </span>
        <span data-toggle="tooltip" data-placement="bottom" data-container="body" data-title="Download ESRI Formatted Dataset">
            <!-- ko if: $data.hasOwnProperty("data_download") -->
            <a class="btn btn-mini" data-bind="css: { disabled: ! data_download }, attr: { href: data_download }" target="_blank">
                data <i class="fa fa-arrow-down" ></i>
            </a>
            <!-- /ko -->
            <!-- ko ifnot: $data.hasOwnProperty("data_download") -->
            <a class="btn btn-mini disabled">
                data <i class="fa fa-arrow-down" ></i>
            </a>
            <!-- /ko -->
        </span>
        <span data-toggle="tooltip" data-placement="bottom" data-container="body" data-title="View Metadata">
            <!-- ko if: $data.hasOwnProperty("metadata") -->
            <a class="btn btn-mini" data-bind="css: { disabled: ! metadata }, attr: { href: metadata }" target="_blank">
                metadata <i class="fa fa-external-link-square" ></i>
            </a>
            <!-- /ko -->
            <!-- ko ifnot: $data.hasOwnProperty("metadata") -->
            <a class="btn btn-mini disabled">
                metadata <i class="fa fa-external-link-square" ></i>
            </a>
            <!-- /ko -->
        </span>
        <span data-toggle="tooltip" data-placement="bottom" data-container="body" data-title="Link to Dataset Source Provider">
            <!-- ko if: $data.hasOwnProperty("source") -->
            <a class="btn btn-mini" data-bind="css: { disabled: ! source }, attr: { href: source }" target="_blank">
                source <i class="fa fa-external-link-square"></i>
            </a>
            <!-- /ko -->
            <!-- ko ifnot: $data.hasOwnProperty("source") -->
            <a class="btn btn-mini disabled">
                source <i class="fa fa-external-link-square"></i>
            </a>
            <!-- /ko -->
        </span>
    </div>
    <div class="layer-text">
        <span data-bind="truncatedText: overview, maxTextLength: 150"></span>
        <!-- ko if: $data.data_url -->
        <a data-bind="attr: {href: $data.data_url}" target="_blank">read more</a>.
        <!-- /ko -->
    </div>
</div>

{% block "after" %}
{% endblock %}
